<div class = "container">

  <h1>{{title}}</h1>

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Add New Users </mat-panel-title>
      </mat-expansion-panel-header>


      <form [formGroup]="userForm">

        <h2>User Information</h2>

        <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
          <p>  {{ successMessage }} </p>
       </div>

        <div class="row">

          <div class="col form-group">
            <label for="empId">Employee Id</label>
            <input id="empId" formControlName="empId" class="form-control" >
            <app-show-error [control]="userForm.controls.empId"></app-show-error>
            <div *ngIf="customError">
              <li style="color: red"> <small> {{customError}} </small></li>
            </div>
          </div>

          <div class="col form-group">
            <label for="access">Access</label>
            <select class="form-control" id="access" formControlName="access">
              <option></option>
              <option *ngFor="let opt of accountAccess" value="{{opt.name}}">{{opt.name}} </option>
            </select>
            <app-show-error [control]="userForm.controls.access"></app-show-error>
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-md-4 form-group">
            <label for="username">Username</label>
            <input id="username"  formControlName="username"  class="form-control" >
            <app-show-error [control]="userForm.controls.username"></app-show-error>
          </div>
  
          <div class="col-6 col-md-4 form-group">
            <label for="password">Password</label>
            <input type ="password"id="password" formControlName="password" class="form-control" >
            <app-show-error [control]="userForm.controls.password"></app-show-error>
          </div>

          <div *ngIf="false"class="col form-group">
            <label for="status">status</label>
            <input id="status" formControlName="status" class="form-control" >
          </div>   

          <div class="col-6 col-md-4 form-group" style="margin-top: 25px;">   
            <button class="btn btn-info" id ="btn" name = "btn"(click)="createUser(userForm.value)" [disabled]="userForm.invalid">Save</button>
          </div>

        </div>    
      </form>  

      

 
    </mat-expansion-panel>
  </mat-accordion>
  <div class="panel-body">

    <h2>User List</h2>

    <div class="table-responsive table-bordered  table-striped">
      <table class="table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Date Created</th>
                <th>Username</th>
                <th>Access</th>
                <th>Status</th>
                <!-- <th></th> 
                <th></th> -->
        </thead>
        <tbody>
            <tr *ngFor="let list of users">
                <td>{{list.empid}}</td>
                <td>{{list.datecreated | date : "mediumDate"}}</td>
                <td>{{list.username}}</td>
                <td>{{list.access}}</td>
                <td>
                  <button class="btn btn-danger" (click)="changeAccStatus(list)">{{list.status}}</button>
                </td>    
                <td>
                  <button class="btn btn-info" (click)="openDialog(list.id)">Update</button>
                  
                </td>
            </tr>     
        </tbody>
     </table>       
    </div>
    
  </div>
  <app-pager [module]="module" [criteria] ="filter" (displayPageList)="getPagerData($event)"> dsadasdasdasd impager</app-pager>
</div>