<div class="content">

  <h1 class="title bg-light">{{title}}</h1>
    <!-- <p>
      For staff such as cashiers, inventory personnel, clerks, and helpers:<br>
      Approval from the Branch Manager or your direct supervisor will be confirmed by the HR Department before your request is honored.<br><br>
  
  For team leaders such as branch managers, department heads and the like:<br>
  Approval from your Area Manager will be confirmed through the HR Department before the request is honored.<br><br>
  
  Medical Certificates or proper documentation for emergency cases must be received by the Office of the HR
   within 12 hours from the time the employee resumes work. These may be faxed or sent through email/Viber.<br><br>
  
  For maternity leaves, send the medical certificate indicating expected date of delivery.<br><br>
    </p> -->
    <div class="main-content"  >
      <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
        <p>  {{ successMessage }} </p>
    </div>
      <mat-horizontal-stepper>
      
         <!-- CONTENT 1-->
        <mat-step label="Step 1">
          <form [formGroup]="suggestionBox">
  
            <h2>Place Your Suggestions</h2>

            <div class="form-group">
              <label for="contactNo">Contact Number</label>
              <input id="contactNo"  formControlName="contactNo"  class="form-control" >
              <app-show-error [control]="suggestionBox.controls.contactNo"></app-show-error>
            </div>
  
            <div class="form-group">
              <label for="emailAddress">Email Address</label>
              <input id="emailAddress" formControlName="emailAddress" class="form-control" >
              <app-show-error [control]="suggestionBox.controls.emailAddress"></app-show-error>
            </div>   
            
            <div class="form-group">
              <label for="Suggestions ">Suggestions</label>
              <textarea rows="6" id="Suggestions" formControlName="Suggestions" placeholder="Any Suggestions about system improvement, concern, and etc. " class="form-control" ></textarea>
              <app-show-error [control]="suggestionBox.controls.Suggestions"></app-show-error>
            </div>
          </form>

         
          <div style="margin: 20px;">
            <button mat-raised-button (click)="onSubmit(suggestionBox.value)" [disabled]="suggestionBox.invalid">Submit</button>
          </div>
        </mat-step>
  
      </mat-horizontal-stepper>
  
    </div>
  </div>