<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper>
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="maintenanceRequestFrom">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="maintenanceRequestFrom.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="maintenanceRequestFrom.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="position">Position</label>
            <input id="position" formControlName="position" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="maintenanceRequestFrom.controls.position"></app-show-error>
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input id="company" formControlName="company" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="maintenanceRequestFrom.controls.company"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="maintenanceRequestFrom.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="maintenanceRequestFrom.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="maintenanceRequestFrom">
          <div>
            <h2>Fill up Forms</h2>
          </div>


          <!-- <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approver" 
            matTooltip="Select, If the Approver is not Admin"
            matTooltipPosition="after">
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field  style="width: 50%;">
            <mat-label>Approver</mat-label>
            <input  value="Faiyaz Hossein" matInput [readonly]="true">        
          </mat-form-field>


          <!-- <div class="col-6 form-group">
            <label for="requestType">Request Type<span class="ic-red">*</span>:</label>
            <select class="form-control" id="requestType" formControlName="requestType">
              <option></option>
              <option value="Job Order">Job Order</option>
              <option value="Repair & Maintenance">Repair & Maintenance</option>
            </select>
            <app-show-error [control]="maintenanceRequestFrom.controls.requestType"></app-show-error>
          </div> -->




          <div class="row">
            <div class="col-md-6 custom-file m-5">
              <input type="file" class="custom-file-input" id="customFile" formControlName="imageName" (change)="onSelectFile($event)">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <div class="col form-group  ml-5 mr-5" *ngIf="url">
              <img [src]="url" height="200"> <br/>
            </div>
          </div>


            <div class="col form-group">
              <label for="natureOfWork">Describe In Details Nature Of Work:<span class="ic-red">*</span>:  </label>
              <textarea  id="natureOfWork" formControlName="natureOfWork"
                         placeholder="Material, quantity, measurements" class="form-control" ></textarea>
              <app-show-error [control]="maintenanceRequestFrom.controls.natureOfWork"></app-show-error>
            </div>
 



          <div class="row">
            <div class="col form-group">
             <div class="col form-group">
              <label class="row">Date Needed<span class="ic-red">*</span>:</label>
              <input type ="date" style="width:50% !important"  formControlName="dateNeeded" id="dateNeeded" />
              <app-show-error [control]="maintenanceRequestFrom.controls.dateNeeded"></app-show-error> 
              </div>
            </div>
  
            <div class="col form-group">
              <label for="comment">Questions/Comments:</label>
              <textarea class="form-control" formControlName="comment"rows="2" id="comment"></textarea>
            </div>
          </div>
        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>

              <div class="row 1">
                <div class="col">
                  <mat-list-item for="fullName">Employee Name:</mat-list-item> <span id="fullName" style="margin-left: 15%;">{{maintenanceRequestFrom.value.fullName}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="branch">Branch/Department:</mat-list-item> <span id="branch" style="margin-left: 15%;">{{maintenanceRequestFrom.value.branch_Dept}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 2">
                <div class="col">
                  <mat-list-item for="position">Position/Designation:  </mat-list-item> <span id="position" style="margin-left: 15%;">{{maintenanceRequestFrom.value.position}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="company">Company:  </mat-list-item><span id="company" style="margin-left: 15%;">{{maintenanceRequestFrom.value.company}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 3">
                <div class="col">
                  <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{maintenanceRequestFrom.value.contactNo}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{maintenanceRequestFrom.value.emailAddress}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <!-- <div>
                <mat-list-item for="requestType">Request Type:</mat-list-item> <span id="requestType" style="margin-left: 15%;">{{maintenanceRequestFrom.value.requestType}}</span>
                <mat-divider></mat-divider>
              </div> -->

              <div>
                <mat-list-item for="natureOfWork">Nature Of Work:</mat-list-item> <span id="natureOfWork" style="margin-left: 15%;">{{maintenanceRequestFrom.value.natureOfWork}}</span>
                <mat-divider></mat-divider>
              </div>

              <div class="row 2">
                <div class="col">
                  <mat-list-item for="dateNeeded">Date Needed:  </mat-list-item><span id="dateNeeded" style="margin-left: 15%;">{{maintenanceRequestFrom.value.dateNeeded | date : "mediumDate"}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="comment">Questions/Comments:</mat-list-item><span id="comment" style="margin-left: 15%;">{{maintenanceRequestFrom.value.comment}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
      
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>






        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(maintenanceRequestFrom.value)" [disabled]="maintenanceRequestFrom.invalid">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>
