
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Update User Accounts</h1>

  <mat-divider></mat-divider>
<div class="main-content">
 

    
    <form [formGroup]="userForm">

      <h2>User Information</h2>

      <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
        <p>  {{ successMessage }} </p>
     </div>

     <div class="row">
      <div class="col-6  form-group">
        <label for="empId">Employee Id</label>
        <input id="empId" formControlName="empId" class="form-control" [attr.disabled]="true">
        <app-show-error [control]="userForm.controls.empId"></app-show-error>
      </div>
     </div>
      <div class="row">
    
        <div class="col form-group">
          <label for="access">Access</label>
          <select formControlName="access" class="form-control" >
            <option ></option>
            <option *ngFor="let opt of accountAccess" [value]="opt.name">{{opt.name}} </option>
          </select>
          <app-show-error [control]="userForm.controls.access"></app-show-error>
        </div>

        <div class="col form-group">
          <label for="status">status</label>
          <input id="status" formControlName="status" class="form-control" [attr.disabled]="true">
        </div>   

      </div>

      <div class="row">
        <div class="col-6 col-md-4 form-group">
          <label for="username">Username</label>
          <input id="username"  formControlName="username"  class="form-control" >
          <app-show-error [control]="userForm.controls.username"></app-show-error>
        </div>

        <div class="col-6 col-md-4 form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control" >
          <app-show-error [control]="userForm.controls.password"></app-show-error>
        </div>

      </div>    
    </form>  
 




</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <div class="buttons" style="float: right;">

      <button  *ngIf="!successMessage" class="btn btn-primary" (click)="updateRecords()" [disabled]="userForm.invalid">Update</button>

  </div>

</div>
