<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper>
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="requestLeaveForm">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="requestLeaveForm.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="requestLeaveForm.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="biometricId">Biometric ID#</label>
            <input id="biometricId" formControlName="biometricId" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="requestLeaveForm.controls.biometricId"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="requestLeaveForm.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="requestLeaveForm.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="requestLeaveForm">
          <h2>Fill up forms</h2>
          <div class="row ml-2">
            <label class ="mr-2">Remaining Leave</label> 
            <label class ="mr-5"> {{'VL: '+remainingLeave[0].value}}</label> 
            <label class ="mr-2"> {{'SL: '+remainingLeave[1].value}}</label> 
          </div>
          <div class="row ml-2 note">
            <label class ="mr-2">Note:</label> 
            <p class="par" id ="idPar"> Only 1.5 Days leave per month is valid, unless earned from previous month(s). Call HR for further clarification.</p>
  
          </div>

          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approver" >
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <app-show-error [control]="requestLeaveForm.controls.approver"></app-show-error>

          <div class="form-group">
            <label for="leaveType">Leave Type<span class="ic-red">*</span>:</label>
            <select class="form-control" id="leaveType" formControlName="leaveType">
              <option></option>
              <option *ngFor="let opt of leavetypes" value="{{opt.name}}">{{opt.name}} </option>
            </select>
            <app-show-error [control]="requestLeaveForm.controls.leaveType"></app-show-error>
          </div>

          <div class="form-group">
            <label for="period">Date Period<span class="ic-red">*</span>:</label>
            <select class="form-control" id="period" formControlName="period">
              <option></option>
              <option *ngFor="let opt of datePeriodEnum" value="{{opt.value}}">{{opt.name}} </option>
            </select>
            <app-show-error [control]="requestLeaveForm.controls.period"></app-show-error>
          </div>

          <div class="col-sm-6 form-group">
            <label for="dateFrom">Date From <span class="ic-red">*</span>:</label>
            <div>
              <input type ="date" style="width:50% !important" formControlName="dateFrom" id="dateFrom" />
              <!-- <input style="width:50% !important"  [matDatepicker]="dateFrom" formControlName="dateFrom" id="dateFrom" placeholder="mm/dd/yyy" [attr.disabled]="true">
              <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
              <mat-datepicker #dateFrom disabled="false"></mat-datepicker> -->
            </div>
            <app-show-error [control]="requestLeaveForm.controls.dateFrom"></app-show-error>
          </div>


          <div class="col-sm-6 form-group">
            <label for="dateTo">Date To <span class="ic-red">*</span>:</label>
            <div>
              <input type ="date" style="width:50% !important" formControlName="dateTo" id="dateTo" />
              <!-- <input style="width:50% !important"  [matDatepicker]="dateTo" formControlName="dateTo" id="dateTo" placeholder="mm/dd/yyy" [attr.disabled]="true">
              <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
              <mat-datepicker #dateTo disabled="false"></mat-datepicker> -->
            </div>
            <app-show-error [control]="requestLeaveForm.controls.dateTo"></app-show-error>
          </div>

          
          <div class="form-group">
            <label for="reason">Reason For Leave<span class="ic-red">*</span>:</label>
            <input #reason id="reason" formControlName="reason" placeholder="Reason For leave" class="form-control" >
            <app-show-error [control]="requestLeaveForm.controls.reason"></app-show-error>
          </div>
        
          <div class="form-group">
            <label for="comment">Questions/Comments:</label>
            <textarea class="form-control" formControlName="comment"rows="2" id="comment"></textarea>
          </div>

        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

              <mat-list>
                <mat-list-item for="fullName">Employee Name:</mat-list-item><span id="fullName" style="margin-left: 15%;">{{requestLeaveForm.value.fullName}}</span>
                <mat-divider></mat-divider>
                <mat-list-item for="branch">Branch/Department:</mat-list-item><span id="branch" style="margin-left: 15%;">{{requestLeaveForm.value.branch_Dept}}</span>
                <mat-divider></mat-divider>
                <mat-list-item for="biometricId">Biometric ID:  </mat-list-item><span id="biometricId" style="margin-left: 15%;">{{requestLeaveForm.value.biometricId}}</span>
                <mat-divider></mat-divider>
                <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{requestLeaveForm.value.contactNo}}</span> 
                <mat-divider></mat-divider>
                <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{requestLeaveForm.value.emailAddress}}</span> 
              </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item class="md-display-1"> Leave Type: </mat-list-item><span id="leaveType" style="margin-left: 15%;">{{requestLeaveForm.value.leaveType}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Date Period:  </mat-list-item><span id="period" style="margin-left: 15%;">{{requestLeaveForm.value.period}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Date From:  </mat-list-item><span id="dateFrom" style="margin-left: 15%;">{{requestLeaveForm.value.dateFrom | date : "mediumDate" }}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Date To:  </mat-list-item><span id="dateTo" style="margin-left: 15%;">{{requestLeaveForm.value.dateTo | date : "mediumDate" }}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Reason For Leave:  </mat-list-item><span id="reason" style="margin-left: 15%;">{{requestLeaveForm.value.reason}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Comments  </mat-list-item><span id="comment" style="margin-left: 15%;"> {{requestLeaveForm.value.comment}}</span>
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>






        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(requestLeaveForm.value)" [disabled]="requestLeaveForm.invalid">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>