body {font-family: "Lato", sans-serif;}

h1{ margin-left: 15px;  }

/* .Menu{
    float: right;
    margin-left: 50%;
} */
.mat-drawer, .sidebar-panel {
	background: #364a61;
	color: #fff;
}

.burgerMenu{
  font-size: 30px;
  margin-right: 5%;
}

.example-container {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 63px; 
  bottom: 0px;
  }
  .mat-toolbar{
    position: absolute;
    right: 0px;
    left: 0px;
  }
  
.drawer-container{
    width: 300px;
    margin-right: 30px;
}
  
.dropdown-container {
  margin-left: 20px;
}

.active {
  background-color: red;
  color: white;
}



.sidebar {
    
  width: 289px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(240, 233, 233); */
  overflow-x: hidden;
  padding-top: 16px;
  
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar a:hover, .burgerMenu:hover {
  color: #000000;
}
.active-list-item {
  background-color: #263341 !important; /* Note: You could also use a custom theme */
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background: #35465a;
}