<!--The content below is only a placeholder and can be replaced.-->
<!-- <meta name="viewport" content="width=640, initial-scale=1.0"> -->

<div (window:resize)="onResize($event)" *ngIf='isLogin; else elseBlock' class="full-content" > 

  <mat-toolbar color="primary">
    
    <mat-icon *ngIf='showMenu'class="burgerMenu"(click)="drawer.toggle()">menu</mat-icon>
    <img routerLink="home" src="assets/images/logo1.png"><span routerLink="home"class="navbar-brand ">
      <h1 *ngIf = "!showMenu" style="font-size: 30px;">{{ title }} </h1>
      <h1 *ngIf = "showMenu" style="font-size: 15px;">{{ title }}</h1>
    </span>

    <span class="fill-space" style=" flex: 1 1 auto;"></span>

    <!-- <div class="announcement" *ngIf="hasAnnouncement">
      <a mat-button  (click)="openSnackBar()"><mat-icon>announcement</mat-icon></a>
    </div> -->

    <div class="Menu"> 
      <a mat-button [matMenuTriggerFor]="belowMenu">Menu<mat-icon>keyboard_arrow_down</mat-icon></a>
      <mat-menu #belowMenu="matMenu" yPosition="above" overlapTrigger="false">
        <button routerLink="account-settings" mat-menu-item>Settings</button>
        <button routerLink="faqs" mat-menu-item>FAQs</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      
      </mat-menu>
    </div>

  </mat-toolbar>
 
<!-- SIDE NAV COMPONENT -->
  <mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="drawer-container" [mode]="navMode" [(opened)]="openNav">
      
      <div class="sidebar">

        <h1><mat-icon>account_circle</mat-icon> Welcome, <br> <span style="margin-top: 40px;"> {{ name }}!</span> </h1>
        <mat-divider></mat-divider>

        <a routerLink="home" style="margin-left: 25px;" routerLinkActive="active-list-item"> <mat-icon>home</mat-icon>Home</a>
        <mat-divider></mat-divider>

        <!-- <a routerLink="dashboard" style="margin-left: 25px;" routerLinkActive="active-list-item"> <mat-icon>dashboard</mat-icon>Dashboard</a>
        <mat-divider></mat-divider> -->

        <a routerLink="requested-forms" style="margin-left: 25px;" routerLinkActive="active-list-item"> <mat-icon>format_list_bulleted</mat-icon>My Requests</a>
        <mat-divider></mat-divider>

          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>developer_board</mat-icon>HR Forms</a>        
            </mat-expansion-panel-header>

                    <mat-divider></mat-divider>  
                    <div class="dropdown-container"> 
                      <a routerLink="rf-leave-request" routerLinkActive="active-list-item">	<mat-icon>wb_sunny</mat-icon> Leave Request </a>
                      <mat-divider></mat-divider>

                      <a routerLink="rf-request-ot" routerLinkActive="active-list-item"><mat-icon>watch_later</mat-icon> Request For OT </a>
                      <mat-divider></mat-divider>

                      <a routerLink="rf-official-business" routerLinkActive="active-list-item"> <mat-icon> business</mat-icon> Official Business </a>
                      <mat-divider></mat-divider>

                      <a routerLink="rf-incident-report" routerLinkActive="active-list-item"><mat-icon> local_hospital</mat-icon> Incident Report </a>
                      <mat-divider></mat-divider>

                      <a routerLink="rf-suggestion-box" routerLinkActive="active-list-item"><mat-icon>how_to_vote</mat-icon> Suggestion Box </a>
                      <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>money</mat-icon>Petty Cash</a>        
            </mat-expansion-panel-header>

                    <mat-divider></mat-divider>  
                    <div class="dropdown-container"> 
                      <a routerLink="petty-cash" routerLinkActive="active-list-item">	<mat-icon>attach_money</mat-icon> Petty Cash Req. </a>
                      <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>add_shopping_cart</mat-icon>Supplies</a>        
            </mat-expansion-panel-header>

                    <mat-divider></mat-divider>  
                    <div class="dropdown-container"> 
                      <a routerLink="purchase-req" routerLinkActive="active-list-item">	<mat-icon>shopping_cart</mat-icon> Purchase Request </a>
                      <mat-divider></mat-divider>

                      <a routerLink="uniform-req" routerLinkActive="active-list-item"><mat-icon>store</mat-icon> Uniform Request </a>
                      <mat-divider></mat-divider>

                      <a routerLink="businessCard-req" routerLinkActive="active-list-item"> <mat-icon>credit_card</mat-icon> Business Card  </a>
                      <mat-divider></mat-divider>

                      <a routerLink="booklet-req" routerLinkActive="active-list-item"><mat-icon>book</mat-icon> Booklet Request </a>
                      <mat-divider></mat-divider>

                      <!-- <a routerLink="maintenance-req" routerLinkActive="active-list-item"><mat-icon>settings_applications</mat-icon> Maintenance </a>
                      <mat-divider></mat-divider>
                      
                      <a routerLink="marketing-material-req" routerLinkActive="active-list-item"><mat-icon>next_week</mat-icon> Marketing Material </a>
                      <mat-divider></mat-divider> -->

                
                     </div>
          </mat-expansion-panel>
          <!-- MAINTENANCE REQUEST-->
          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>settings_applications</mat-icon>Maintenance&nbsp;Req.</a>        
            </mat-expansion-panel-header>

                    <mat-divider></mat-divider>  
                    <div class="dropdown-container"> 

                      <a routerLink="maintenance-req" routerLinkActive="active-list-item"><mat-icon>settings_applications</mat-icon> Job Order </a>
                      <mat-divider></mat-divider>

                      <a routerLink="maintenance-purchase-req" routerLinkActive="active-list-item"><mat-icon>shopping_cart</mat-icon> Purchase&nbsp;Request</a>
                      <mat-divider></mat-divider>
                       
                     </div>
          </mat-expansion-panel>
          <!-- MARKETING REQUEST -->
          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>next_week</mat-icon>Marketing&nbsp;Request</a>        
            </mat-expansion-panel-header>

                    <mat-divider></mat-divider>  
                    <div class="dropdown-container"> 

                      <a routerLink="marketing-material-req" routerLinkActive="active-list-item"><mat-icon>next_week</mat-icon> Marketing Material </a>
                      <mat-divider></mat-divider>
                       
                     </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>av_timer</mat-icon>Pending Forms</a>        
            </mat-expansion-panel-header>

            <div *ngIf="isHr()">
              <mat-expansion-panel class="sidebar-panel" style="box-shadow: none; " >
                <mat-expansion-panel-header>          
                    <a class="row"> <mat-icon>developer_board</mat-icon>Request&nbsp;Forms</a>        
                </mat-expansion-panel-header>
                        <mat-divider></mat-divider>  
                        <div class="dropdown-container"> 
                          <a class="row" routerLink="leave-request" routerLinkActive="active-list-item">	<mat-icon>wb_sunny</mat-icon> Leave Request </a>
                          <mat-divider></mat-divider>
  
                          <a class="row" routerLink="request-ot" routerLinkActive="active-list-item"><mat-icon>watch_later</mat-icon> Request For OT </a>
                          <mat-divider></mat-divider>
  
                          <a class="row" routerLink="official-business" routerLinkActive="active-list-item"> <mat-icon> business</mat-icon> Official Business </a>
                          <mat-divider></mat-divider>
  
                          <a class="row" routerLink="incident-report" routerLinkActive="active-list-item"><mat-icon> local_hospital</mat-icon> Incident Report </a>
                          <mat-divider></mat-divider>
  
                          <a class="row" routerLink="suggestion-box" routerLinkActive="active-list-item"><mat-icon>how_to_vote</mat-icon> Suggestion Box </a>
                          <mat-divider></mat-divider>

                          <a class="row" routerLink="rf-change-info" routerLinkActive="active-list-item"><mat-icon>perm_data_setting</mat-icon> Change Info.</a>
                          <mat-divider></mat-divider>
                        </div>
                </mat-expansion-panel>
            </div>
            
            <div *ngIf="!isHr()">
              <mat-expansion-panel class="sidebar-panel" style="box-shadow: none; " >
                <mat-expansion-panel-header>          
                    <a class="row"> <mat-icon>add_shopping_cart</mat-icon>Supplies&nbsp;Forms</a>        
                </mat-expansion-panel-header>
  
                        <mat-divider></mat-divider>  
                        <div class="dropdown-container"> 
                          <a class="row" routerLink="pf-purchase-req" routerLinkActive="active-list-item">	<mat-icon>shopping_cart</mat-icon>Purchase</a>
                          <mat-divider></mat-divider>
    
                          <a class="row" routerLink="pf-uniform-req" routerLinkActive="active-list-item"><mat-icon>store</mat-icon> Uniform Request </a>
                          <mat-divider></mat-divider>
    
                          <a class="row" routerLink="pf-businessCard-req" routerLinkActive="active-list-item"> <mat-icon>credit_card</mat-icon> Business Card  </a>
                          <mat-divider></mat-divider>
    
                          <a class="row" routerLink="pf-booklet-req" routerLinkActive="active-list-item"><mat-icon>book</mat-icon> Booklet Request </a>
                          <mat-divider></mat-divider>
  
                          <!-- <a  class="row" routerLink="pf-maintenance-req" routerLinkActive="active-list-item"><mat-icon>settings_applications</mat-icon> Maintenance </a>
                          <mat-divider></mat-divider>
    
                          <a class="row" routerLink="pf-marketing-material-req" routerLinkActive="active-list-item"><mat-icon>next_week</mat-icon>Marketing </a>
                          <mat-divider></mat-divider> -->
  
                        </div>

              </mat-expansion-panel>
            </div> 

            <div *ngIf="!isHr()">
                <!-- MAINTENANCE PENDING-->
                <mat-expansion-panel class="sidebar-panel" style="box-shadow: none; ">
                  <mat-expansion-panel-header>          
                      <a class="row"> <mat-icon>settings_applications</mat-icon>Maintenance&nbsp;</a>        
                  </mat-expansion-panel-header>
      
                          <mat-divider></mat-divider>  
                          <div class="dropdown-container"> 
      
        
                            <a  class="row" routerLink="pf-maintenance-req" routerLinkActive="active-list-item"><mat-icon>settings_applications</mat-icon> Job Order </a>
                            <mat-divider></mat-divider>
                            
                          </div>
                </mat-expansion-panel>
                <!-- MARKETING PENDING -->
                <mat-expansion-panel class="sidebar-panel" style="box-shadow: none; ">
                  <mat-expansion-panel-header>          
                      <a class="row"> <mat-icon>next_week</mat-icon>Marketing&nbsp;</a>        
                  </mat-expansion-panel-header>
      
                          <mat-divider></mat-divider>  
                          <div class="dropdown-container"> 
      
                            <a class="row" routerLink="pf-marketing-material-req" routerLinkActive="active-list-item"><mat-icon>next_week</mat-icon>Marketing </a>
                            <mat-divider></mat-divider>
                            
                          </div>
                </mat-expansion-panel>
            </div>
          </mat-expansion-panel>


          <div *ngIf="isHr()">
            <a routerLink="add-users" style="margin-left: 25px;" routerLinkActive="active-list-item"> <mat-icon>group_add</mat-icon>Add Users</a>
            <mat-divider></mat-divider>
          </div>


      </div>
     
    </mat-drawer>
    

    <!-- OTHER COMPONENT CONTENT SHOW HERE -->
    <mat-drawer-content>
      <div>
        <router-outlet></router-outlet>
      </div>    
    </mat-drawer-content>

  </mat-drawer-container>
</div>
<ng-template #elseBlock><router-outlet></router-outlet></ng-template>



 
  

