
   <!--Page Content -->
       
 <div class="container-fluid">
     <!-- breadcrumbs -->
     <div class="row">
         <div class="col-lg-12">
             <div class="error">
             
                         <h1>404</h1>
                         <h4>Page not found</h4>
                         <p>The page you are looking for doesn't exist or an other error occurred.<br>
                         </p>
                          
                             <button (click)="goBack()" class="btn btn-danger">Go Back<i class="fa fa-angle-right"></i></button> 
              
              
             </div>
         </div>

     </div>
 </div>