@import '~@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-red, 900);
$my-accent: mat-palette($mat-red, 600);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);