<!--The content below is only a placeholder and can be replaced.-->


<div (window:resize)="onResize($event)" *ngIf='isLogin; else elseBlock'> 
  <mat-toolbar color="primary">
    
    <mat-icon *ngIf='showMenu'class="burgerMenu"(click)="drawer.toggle()">menu</mat-icon>
    <img routerLink="home" src="assets/images/logo1.png"><span routerLink="home"class="navbar-brand ">
      <h1 *ngIf = "!showMenu" style="font-size: 30px;">{{ title }} </h1>
      <h1 *ngIf = "showMenu" style="font-size: 15px;">{{ title }}</h1>
    </span>

    <span class="fill-space" style=" flex: 1 1 auto;"></span>
  
    <div class="Menu">
      
      <a mat-button [matMenuTriggerFor]="belowMenu">Menu <mat-icon>keyboard_arrow_down</mat-icon></a>
      <mat-menu #belowMenu="matMenu" yPosition="above" overlapTrigger="false">
        <button routerLink="account-settings" mat-menu-item>Settings</button>
        <button routerLink="faqs" mat-menu-item>FAQs</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      
      </mat-menu>

    </div>
  </mat-toolbar>
 
<!-- SIDE NAV COMPONENT -->
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="drawer-container" [mode]="navMode" [(opened)]="openNav">
      
      <div class="sidebar">

        <h1><mat-icon>account_circle</mat-icon> Welcome, <br> <span style="margin-top: 40px;"> {{ name }}!</span> </h1>
        <mat-divider></mat-divider>

        <a routerLink="home" active=true style="margin-left: 25px;"> <mat-icon>home</mat-icon> Home</a>
        <mat-divider></mat-divider>

        <!-- <a routerLink="dashboard" style="margin-left: 25px;" routerLinkActive="active-list-item"> <mat-icon>dashboard</mat-icon>Dashboard</a>
        <mat-divider></mat-divider> -->
        <a routerLink="petty-cash-forms"  style="margin-left: 25px;"> <mat-icon>attach_money</mat-icon> Petty Cash Forms</a>
        <mat-divider></mat-divider>
        
          <mat-expansion-panel class="sidebar-panel">
            <mat-expansion-panel-header>          
                <a> <mat-icon>developer_board</mat-icon>Pending Forms</a>        
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>  
            <div class="dropdown-container"> 
              <a routerLink="leave-request" routerLinkActive="active-list-item">	<mat-icon>wb_sunny</mat-icon> Leave Request </a>
              <mat-divider></mat-divider>

              <a routerLink="request-ot" routerLinkActive="active-list-item"><mat-icon>watch_later</mat-icon> Request For OT </a>
              <mat-divider></mat-divider>

              <a routerLink="official-business" routerLinkActive="active-list-item"> <mat-icon> business</mat-icon> Official Business </a>
              <mat-divider></mat-divider>

              <a routerLink="incident-report" routerLinkActive="active-list-item"><mat-icon> local_hospital</mat-icon> Incident Report </a>
              <mat-divider></mat-divider>

              <a routerLink="suggestion-box" routerLinkActive="active-list-item"><mat-icon>how_to_vote</mat-icon> Suggestion Box </a>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
         

      </div>
    </mat-drawer>


    <!-- OTHER COMPONENT CONTENT SHOW HERE -->
    <mat-drawer-content>
      <div>
        <router-outlet></router-outlet>
      </div>    
    </mat-drawer-content>

  </mat-drawer-container>
</div>
<ng-template #elseBlock><router-outlet></router-outlet></ng-template>



 
  

