<div class="content">

    <h1 class="title bg-light">{{title}}</h1>
      <!-- <p>
        For staff such as cashiers, inventory personnel, clerks, and helpers:<br>
        Approval from the Branch Manager or your direct supervisor will be confirmed by the HR Department before your request is honored.<br><br>
    
    For team leaders such as branch managers, department heads and the like:<br>
    Approval from your Area Manager will be confirmed through the HR Department before the request is honored.<br><br>
    
    Medical Certificates or proper documentation for emergency cases must be received by the Office of the HR
     within 12 hours from the time the employee resumes work. These may be faxed or sent through email/Viber.<br><br>
    
    For maternity leaves, send the medical certificate indicating expected date of delivery.<br><br>
      </p> -->
      <div class="main-content"  >
        <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
          <p>  {{ successMessage }} </p>
      </div>
        <mat-horizontal-stepper>
        
           <!-- CONTENT 1-->
          <mat-step label="Step 1" *ngIf="false">
            <form [formGroup]="overtimeForm">
    
              <h2>Employee Information</h2>
            
              <div class="form-group">
                <label for="fullName">Employee Name</label>
                <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
                <app-show-error [control]="overtimeForm.controls.fullName"></app-show-error>
              </div>
    
              <div class="form-group">
                <label for="branch">Branch/Department</label>
                <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
                <app-show-error [control]="overtimeForm.controls.branch_Dept"></app-show-error>
              </div>
              
              <div class="form-group">
                <label for="position">Position/Designation</label>
                <input id="position" formControlName="position" class="form-control" [attr.disabled]="true">
                <app-show-error [control]="overtimeForm.controls.position"></app-show-error>
              </div> 
    
              <div class="form-group">
                <label for="contactNo">Contact Number</label>
                <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
                <app-show-error [control]="overtimeForm.controls.contactNo"></app-show-error>
              </div>
    
              <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
                <app-show-error [control]="overtimeForm.controls.emailAddress"></app-show-error>
              </div>   
    
            </form>  
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
    
    
          <!-- CONTENT 2 -->
          <mat-step label="Step 1">
            <form [formGroup]="overtimeForm">
              <h2>Fill up forms</h2>
    
              <mat-form-field appearance="fill" style="width: 50%;">
                <mat-label>Approver</mat-label>
                <mat-select formControlName="approver" >
                  <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                    <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                      {{opt.fullName +" - "+ opt.department}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <app-show-error [control]="overtimeForm.controls.approver"></app-show-error>
  
              <div class="form-group">
                <label for="dateOfOt">Date of Overtime <span class="ic-red">*</span>:</label>
                <div>
                  <input type ="date" style="width:50% !important"  formControlName="dateOfOt" id="dateOfOt" />
                  <!-- <input style="width:50% !important"  [matDatepicker]="dateOfOt" formControlName="dateOfOt" id="dateOfOt" placeholder="Date of Overtime" [attr.disabled]="true">
                  <mat-datepicker-toggle matSuffix [for]="dateOfOt"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfOt disabled="false"></mat-datepicker> -->
                </div>
                <app-show-error [control]="overtimeForm.controls.dateOfOt"></app-show-error>
              </div>
  
              <div class="row">
                <div class=" col-sm-6 form-group">
                  <label for="timeFrom">Time From <span class="ic-red">*</span>:</label>
                  <div>
                    <input  id="timeFrom" formControlName="timeFrom" type="time" placeholder="start date">
                  </div>
                  <app-show-error [control]="overtimeForm.controls.timeFrom"></app-show-error>
                </div>
                
    
                <div class=" col-sm-6 form-group">
                  <label for="timeTo">Time To <span class="ic-red">*</span>:</label>
                  <div>
                    <input id="timeTo" formControlName="timeTo" type="time" placeholder="start date">
                  </div>
                  <app-show-error [control]="overtimeForm.controls.timeTo"></app-show-error>
                </div>
              </div>
              
              <div class="form-group">
                <label for="reason">Reason For Overtime <span class="ic-red">*</span></label>
                <input  id="reason" formControlName="reason" placeholder="Reason For Overtime" class="form-control" >
                <app-show-error [control]="overtimeForm.controls.reason"></app-show-error>
              </div>
            </form>
    
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
          </mat-step>
    
    
           <!-- CONTENT 3 -->
          <mat-step label="Step 2">
            <h2>Confirm Information</h2>
    
    
    
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   <b> Personal data </b>
                  </mat-panel-title>
                  <mat-panel-description>
                     Basic Information
                    <mat-icon>account_circle</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
    
                  <mat-list>
                    <mat-list-item for="fullName">Employee Name:</mat-list-item><span id="fullName" style="margin-left: 15%;">{{overtimeForm.value.fullName}}</span>
                    <mat-divider></mat-divider>
                    <mat-list-item for="branch">Branch/Department:</mat-list-item><span id="branch" style="margin-left: 15%;">{{overtimeForm.value.branch_Dept}}</span>
                    <mat-divider></mat-divider>
                    <mat-list-item for="position">Position/Designation:</mat-list-item><span id="position" style="margin-left: 15%;">{{overtimeForm.value.position}}</span>
                    <mat-divider></mat-divider>
                    <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{overtimeForm.value.contactNo}}</span> 
                    <mat-divider></mat-divider>
                    <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{overtimeForm.value.emailAddress}}</span> 
                  </mat-list>
    
    
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="true"
                                   (closed)="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Form Data</b>
                  </mat-panel-title>
                  <mat-panel-description>
                     Data Confirmation
                    <mat-icon>map</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
    
                <mat-list>
                  
                  <mat-list-item> Date of Overtime:  </mat-list-item><span id="dateOfOt" style="margin-left: 15%;">{{overtimeForm.value.dateOfOt | date : "mediumDate" }}</span>
                  <mat-divider></mat-divider>
                  <mat-list-item> Time From:  </mat-list-item><span id="timeFrom" style="margin-left: 15%;">{{overtimeForm.value.timeFrom  }}</span>
                  <mat-divider></mat-divider>
                  <mat-list-item> Time To:  </mat-list-item><span id="timeTo" style="margin-left: 15%;">{{overtimeForm.value.timeTo  }}</span>
                  <mat-divider></mat-divider>
                  <mat-list-item> Reason For Overtime:  </mat-list-item><span id="reason" style="margin-left: 15%;">{{overtimeForm.value.reason}}</span>
                  <mat-divider></mat-divider>
                  
                </mat-list>
    
                
              </mat-expansion-panel>
            </mat-accordion>
    
    
    
    
    
    
            <div style="margin: 20px;">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-raised-button (click)="onSubmit(overtimeForm.value)" [disabled]="overtimeForm.invalid">Submit</button>
            </div>
          </mat-step>
    
        </mat-horizontal-stepper>
    
      </div>
    </div>