
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Official Business</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">
  
  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="fullName" class="sa-input"> Employee Name:</label>
      <mat-list-item for="fullName" >{{ officialBusinessForm.value['firstName'] +" "+ officialBusinessForm.value['lastName']}}</mat-list-item>  
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="dateOfActivity" class="sa-input"> Date Of Activity: </label>
      <mat-list-item>{{ officialBusinessForm.value.dateOfActivity  | date : "mediumDate"}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="branch" class="sa-input"> Branch/Department:</label>
      <mat-list-item for="branch">{{ officialBusinessForm.value['branch'] }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="timeFrom" class="sa-input"> Time From:</label>
      <mat-list-item>{{ officialBusinessForm.value.timeFrom }}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="position" class="sa-input"> Position/Designation:</label>
      <mat-list-item for="branch">{{ officialBusinessForm.value.position }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="timeTo" class="sa-input"> Time To:</label>
      <mat-list-item>{{ officialBusinessForm.value.timeTo }}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="biometricId" class="sa-input"> BiometricNO:</label>
      <mat-list-item for="biometricId">{{ officialBusinessForm.value.biometricId }} </mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="purpose" class="sa-input"> Purpose of Activity:</label>
      <mat-list-item>{{ officialBusinessForm.value.purpose}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="contactNo" class="sa-input"> Contact NO.:</label>
      <mat-list-item for="contactNo" >{{ officialBusinessForm.value.contactNo}}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="contactPerson" class="sa-input"> Contact Person:</label>
      <mat-list-item>{{ officialBusinessForm.value.contactPerson}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="emailAddress" class="sa-input"> Email Address:</label>
      <mat-list-item for="emailAddress">{{ officialBusinessForm.value.emailAddress}}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="cntactNoOfContactPerson" class="sa-input"> No. of Contact Person:</label>
      <mat-list-item>{{ officialBusinessForm.value.cntactNoOfContactPerson}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="remarks" class="sa-input"> Remarks:</label>
      <mat-list-item>{{ officialBusinessForm.value.remarks}}</mat-list-item>
    </div>

    <div class="col-6 col-md-4 form-group">
      <label for="workLocationName" class="sa-input"> Work Location:</label>
      <mat-list-item>{{ officialBusinessForm.value.workLocationName}}</mat-list-item>
    </div>
  </div>
    
  <div class= "row">
    <div class="col-6 col-md-7 form-group"></div>
    <div class="col-6 col-md-4 form-group">
      <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="officialBusinessForm"> 
        <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
        <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
        <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
      </div>
      
      <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="officialBusinessForm"> 
        <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
        <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
        <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
      </div>
    </div>
  </div>



</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>
  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>
</div>
