body {font-family: "Lato", sans-serif;}

/* h1, a{ margin: 15px;  } */

.Menu{
    /* float: right; */
    margin-left: 50%;
}
.example-container {
 
    height: 650px;
    margin: 10px;
  }
.drawer-container{
    width: 300px;
    margin-right: 30px;
}
  
.dropdown-container {
  margin-left: 20px;
}

.active {
  background-color: green;
  color: white;
}



.sidebar {
    
  width: 289px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(240, 233, 233); */
  overflow-x: hidden;
  padding-top: 16px;
  
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #3f3a3a;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}