<!--The content below is only a placeholder and can be replaced.-->


<div *ngIf='false; else elseBlock'>
  <mat-toolbar color="primary">
   
    <span><h1> Welcome to  {{ title }}! </h1></span>

    <span class="fill-space" style=" flex: 1 1 auto;"></span>
  
    <div class="Menu">
      
      <a mat-button [matMenuTriggerFor]="belowMenu">Menu <mat-icon>keyboard_arrow_down</mat-icon></a>
      <mat-menu #belowMenu="matMenu" yPosition="above">
        <button mat-menu-item>Settings!</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      
      </mat-menu>

    </div>
  </mat-toolbar>
 
<!-- SIDE NAV COMPONENT -->
  <mat-drawer-container class="example-container">
    <mat-drawer class="drawer-container" mode="side" opened>
      
      <div class="sidebar">

        <h1><mat-icon>account_circle</mat-icon> Welcome, <br> <span style="margin-top: 40px;"> {{ name }}!</span> </h1>
        <mat-divider></mat-divider>

        <!-- <a routerLink="/" active=true style="margin-left: 25px;"> <mat-icon>home</mat-icon> Home</a>
        <mat-divider></mat-divider> -->

        <a routerLink="/dashboard" style="margin-left: 25px;"> <mat-icon>dashboard</mat-icon>Dashboard</a>
        <mat-divider></mat-divider>

          <mat-expansion-panel>
            <mat-expansion-panel-header>          
                <a routerLink="/request-form" > <mat-icon>developer_board</mat-icon>Requst Form</a>        
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>  
            <div class="dropdown-container"> 
              <a routerLink="/leave-request">	<mat-icon>wb_sunny</mat-icon> Leave Request </a>
              <mat-divider></mat-divider>

              <a routerLink="/request-ot"><mat-icon>watch_later</mat-icon> Request For OT </a>
              <mat-divider></mat-divider>

              <a routerLink="/official-business"> <mat-icon> business</mat-icon> Official Business </a>
              <mat-divider></mat-divider>

              <a routerLink="/incident-report"><mat-icon> local_hospital</mat-icon> Incident Report </a>
              <mat-divider></mat-divider>

              <a routerLink="/suggestion-box"><mat-icon>how_to_vote</mat-icon> Suggestion Box </a>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
         

      </div>
    </mat-drawer>


    <!-- OTHER COMPONENT CONTENT SHOW HERE -->
    <mat-drawer-content>
      <div>
        <router-outlet></router-outlet>
      </div>    
    </mat-drawer-content>

  </mat-drawer-container>
</div>
<ng-template #elseBlock><router-outlet></router-outlet></ng-template>



 
  

