<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid">

    <!-- breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <!-- <ol class="breadcrumb"> -->
                <h1>Dashboard</h1>
            <!-- </ol> -->
        </div>
    </div>
    
    
    <!-- items / cards -->



    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row" >
                        <div class="col-xs-3" >
                            <mat-icon style="font-size: 70px">wb_sunny</mat-icon>
                            
                        </div>
                        <div class="col-xs-5 dh-title2"> <a routerLink="/head/leave-request">&nbsp; Leave Request  &nbsp;</a></div>
                        <div class="text-center">
                            <div>
                                <p class="huge d-quantity">{{leaveRequest.length}}</p>
                                <p class="sub-text2">All Requests</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{leaveRequest.pending ? leaveRequest.pending: 0}}</p>
                                    <p class="sub-text2">Pending </p>
                                </div>
                            </div>
                            <!-- <div class="col-xs-2 text-center">
                                <div>
                                    <p class="huge d-quantity">{{leaveRequest.accept ? leaveRequest.accept: 0 }}</p>
                                    <p class="sub-text2">Accepted </p>
                                </div>
                            </div> -->
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{leaveRequest.cancelled ? leaveRequest.cancelled: 0}}</p>
                                    <p class="sub-text2">Cancelled </p>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{leaveRequest.approved ? leaveRequest.approved: 0}}</p>
                                    <p class="sub-text2">Approved </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <mat-icon style="font-size: 70px">watch_later</mat-icon>    
                        </div>
                        <div class="col-xs-5 dh-title2"> <a routerLink="/head/request-ot">Request&nbsp;Overtime</a></div>
                        <div class="text-center">
                            <div>
                                <p class="huge d-quantity">{{overtime.length}}</p>
                                <p class="sub-text2">All Requests</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{overtime.pending ? overtime.pending: 0}}</p>
                                    <p class="sub-text2">Pending </p>
                                </div>
                            </div>
                            <!-- <div class="col-xs-2 text-center">
                                <div>
                                    <p class="huge d-quantity">{{overtime.accept ? overtime.accept: 0 }}</p>
                                    <p class="sub-text2">Accepted </p>
                                </div>
                            </div> -->
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{overtime.cancelled ? overtime.cancelled: 0}}</p>
                                    <p class="sub-text2">Cancelled </p>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{overtime.approved ? overtime.approved: 0}}</p>
                                    <p class="sub-text2">Approved </p>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <mat-icon style="font-size: 70px">business</mat-icon>
                        </div>
                        <div class="col-xs-5 dh-title2"><a routerLink="/head/official-business"> Official&nbsp;Business</a></div>
                        <div class="text-center">
                            <div>
                                <p class="huge d-quantity">{{officialBusiness.length}}</p>
                                <p class="sub-text2">All Requests</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{officialBusiness.pending ? officialBusiness.pending: 0}}</p>
                                    <p class="sub-text2">Pending </p>
                                </div>
                            </div>
                            <!-- <div class="col-xs-2 text-center">
                                <div>
                                    <p class="huge d-quantity">{{officialBusiness.accept ? officialBusiness.accept: 0 }}</p>
                                    <p class="sub-text2">Accepted </p>
                                </div>
                            </div> -->
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{officialBusiness.cancelled ? officialBusiness.cancelled: 0}}</p>
                                    <p class="sub-text2">Cancelled </p>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{officialBusiness.approved ? officialBusiness.approved: 0}}</p>
                                    <p class="sub-text2">Approved </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         

         <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <mat-icon style="font-size: 70px">local_hospital</mat-icon>
                            
                        </div>
                        <div class="col-xs-5 dh-title2"><a routerLink="/head/incident-report">&nbsp; Incident&nbsp;Report &nbsp;</a></div>   
                        <div class="text-center">
                            <div>
                                <p class="huge d-quantity">{{incidentReport.length}}</p>
                                <p class="sub-text2">All Requests</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{incidentReport.pending ? incidentReport.pending: 0}}</p>
                                    <p class="sub-text2">Pending </p>
                                </div>
                            </div>
                            <!-- <div class="col-xs-2 text-center">
                                <div>
                                    <p class="huge d-quantity">{{incidentReport.accept ? incidentReport.accept: 0 }}</p>
                                    <p class="sub-text2">Accepted </p>
                                </div>
                            </div> -->
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{incidentReport.cancelled ? incidentReport.cancelled: 0}}</p>
                                    <p class="sub-text2">Cancelled </p>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center">
                                <div>
                                    <p class="huge d-quantity">{{incidentReport.approved ? incidentReport.approved: 0}}</p>
                                    <p class="sub-text2">Approved </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" class="row" >
        <div class="col-lg-6 col-md-offset-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <mat-icon style="font-size: 70px">how_to_vote</mat-icon>
                            
                        </div>
                        <div class="col-xs-5 dh-title2"><a routerLink="/head/suggestion-box">Suggestion Box</a></div>
                        <div class="text-center">
                            <div>
                                <p class="huge d-quantity">{{suggestionBox.length}}</p>
                                <p class="sub-text2">Suggestions</p>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <!-- <div>
                                <p class="huge d-quantity">{{0}}</p>
                                <p class="sub-text2">pcs</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
<!-- /.container-fluid -->
