
<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper (selectionChange)="getIndex($event)">
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="pettyCashRequestForm">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="pettyCashRequestForm.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="pettyCashRequestForm.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input id="company"  formControlName="company"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="pettyCashRequestForm.controls.company"></app-show-error>
          </div>
          <!-- <div class="form-group">
            <label for="biometricId">Biometric ID#</label>
            <input id="biometricId" formControlName="biometricId" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="pettyCashRequestForm.controls.biometricId"></app-show-error>
          </div> -->

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="pettyCashRequestForm.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="pettyCashRequestForm.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="pettyCashRequestForm">
          <h2>Request Breakdown</h2>

          <div class="row">
            <div class="col ">
              <mat-form-field  style="width: 50%;">
                <mat-label>Vourcher Id</mat-label>
                <input  id="DivourcherId" formControlName="DivourcherId"  matInput class="form-control" >
              </mat-form-field>
            </div>


            <div class="col-sm-6 form-group">
              <label for="pettyCashDate">Petty Cash Date<span class="ic-red">*</span>:</label>
              <div>
                <input type ="date" style="width:50% !important" formControlName="pettyCashDate" id="pettyCashDate" />
              </div>
              <app-show-error [control]="pettyCashRequestForm.controls.pettyCashDate"></app-show-error>
            </div>
          </div>

          
          <div class="row">
            <div class="col form-group">
              <label for="company">Company<span class="ic-red">*</span>:</label>
              <select class="form-control" id="company" placeholder="Select Company" (change)="onCompanySelect($event)" formControlName="company">
                <option value="null"></option>
                <option *ngFor="let opt of company"  value="{{opt}}"> {{opt}} </option>
              </select>
              <app-show-error [control]="pettyCashRequestForm.controls.company"></app-show-error>
            </div>

            <div class="col form-group">
              <label for="branch">Branch<span class="ic-red">*</span>:</label>
              <select class="form-control" id="branch" placeholder="Select Branch" (change)="onBranchSelect($event)" formControlName="branch" >
                <option></option>
                <option *ngFor="let opt of branch"  value="{{opt}}"> {{opt}} </option>
              </select>
              <app-show-error [control]="pettyCashRequestForm.controls.branch"></app-show-error>
            </div>
        </div>
        
          <div class="row">
            <div class="col-3 ">
              <label for="payee">Payee<span class="ic-red">*</span>:</label>
              <select class="form-control" id="payee" placeholder="Select Payee" (change)="onPayeeSelect($event)" formControlName="payee" >
                <option></option>
                <option *ngFor="let opt of PayeesAndAccName"  value="{{opt.id}}"> {{opt.payee}} </option>
              </select>
              <app-show-error [control]="pettyCashRequestForm.controls.payee"></app-show-error>
            </div>

            <div class="col-3 ">
              <label for="accountName">Account Name<span class="ic-red">*</span>:</label>
              <input  id="accountName" formControlName="accountName" class="form-control" [attr.disabled]="true">
              <app-show-error [control]="pettyCashRequestForm.controls.accountName"></app-show-error>
            </div>

            <div class="col form-group">
              <label for="ManualType">Classification<span class="ic-red">*</span>:</label>
              <select class="form-control" id="Classification" placeholder="Select Request Type" formControlName="Classification">
                <option value="Reimbursement"> Reimbursement </option>
                <option value="Bills"> Bills </option>
              </select>
              <app-show-error [control]="pettyCashRequestForm.controls.Classification"></app-show-error>
            </div>
          </div>


          
          <div class="row">
              <div class="col form-group">
                <label for="TotalAmount">Total Amount<span class="ic-red">*</span>:</label>
                <input  type="number" id="TotalAmount" formControlName="TotalAmount" class="form-control" [attr.disabled]="true">
                <app-show-error [control]="pettyCashRequestForm.controls.TotalAmount"></app-show-error>
             </div>
            
              <div class="col form-group">
                <label for="AmountInWord">Amount In Word<span class="ic-red">*</span>:</label>
                <textarea  formControlName="AmountInWord"  class="form-control"rows="1" id="AmountInWord" [attr.disabled]="true"></textarea>
                <app-show-error [control]="pettyCashRequestForm.controls.AmountInWord"></app-show-error>
             </div>
          </div>

          <div class="row">
               <div class="col-md-3">
                  <label for="PreparedBy">Prepared By<span class="ic-red"></span>:</label>
                  <input  id="PreparedBy" formControlName="PreparedBy" class="form-control" >
              </div>

              <div class="col-md-3">
                  <label for="CheckedBy">Checked By<span class="ic-red"></span>:</label>
                  <input  id="CheckedBy" formControlName="CheckedBy" class="form-control" >
              </div> 

              <div class="col-md-3">
                    <label for="ApprovedBy" >Approved By<span class="ic-red"></span>:</label>
                    <input  type="ApprovedBy"  class="form-control" id="ApprovedBy" formControlName="ApprovedBy">
                    <app-show-error [control]="pettyCashRequestForm.controls.ApprovedBy"></app-show-error>
              </div>

              <div class="col-md-3">
                    <label for="AuditBy" >Audit By<span class="ic-red"></span>:</label>
                    <input  type="AuditBy"  class="form-control" id="AuditBy" formControlName="AuditBy">
                    <app-show-error [control]="pettyCashRequestForm.controls.AuditBy"></app-show-error>
              </div>
          </div>

          <div class="row">
            <div class="col ">
              <label for="Reason">Reason<span class="ic-red">*</span>:</label>
              <input  id="Reason" formControlName="Reason" placeholder="Purpose of Request" class="form-control" >
              <app-show-error [control]="pettyCashRequestForm.controls.Reason"></app-show-error>
            </div>

             <div class="col form-group">
              <label for="comment">Questions/Comments:</label>
              <textarea class="form-control" formControlName="comment"rows="2" id="comment"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-4 form-group">
              <label for="Particulars">Particulars<span class="ic-red">*</span>:</label>
              <textarea class="form-control" formControlName="Particulars"rows="1" id="Particulars"></textarea>
              <app-show-error [control]="pettyCashRequestForm.controls.Particulars"></app-show-error>
           </div>

            <div class="col-2 form-group">
              <label for="Amount">Amount<span class="ic-red">*</span>:</label>
              <input  type = number id="Amount" formControlName="Amount"  class="form-control" >
              <app-show-error [control]="pettyCashRequestForm.controls.Amount"></app-show-error>
            </div>
            <div class="col-3 form-group">
              <mat-form-field class="col mt-3" appearance="fill">
                <mat-label class="lb-lg" >Account Title</mat-label>
                <mat-select formControlName="accountTitleId" multiple>
                  <mat-option *ngFor="let opt of accountTitle" [value]="opt.value">{{opt.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-3 form-group" *ngIf="isOtherExpense(pettyCashRequestForm.controls.accountTitleId.value)">
              <label for="accountTitle">Other Expenses<span class="ic-red">*</span>:</label>
              <textarea class="form-control" formControlName="accountTitle"rows="2" id="accountTitle"></textarea>
           </div>
        
            <div class="col-5  custom-file m-4">
              <input type="file" class="custom-file-input" id="customFile" formControlName="imageName" (change)="onSelectFile($event)">
              <label class="custom-file-label" for="customFile">Attach Receipt</label>
            </div>

            <div class="col" *ngIf="url">
              <img [src]="url" height="200"> <br/>
            </div>

       

            <div class="col-md-2">
              <div class="form-group row form_code float-right" style="margin-top: 23px; margin-right: 10%;" formArrayName="orderItems">
                  <input type="button" name="" class="btn btn-primary" value="Add" (click)="AddItem($event)" 
                  [disabled]=" pettyCashRequestForm.controls.Particulars.invalid ||
                               pettyCashRequestForm.controls.Amount.invalid ||
                               pettyCashRequestForm.controls.accountTitle.invalid" >
              </div>
            </div>
          </div>
        

        <div *ngIf="pettyCashRequestForm.controls.orderItems.value[0]">
          <h2>Order Items</h2>
          <div class="panel-body" style="background: rgb(240, 240, 240);">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Particulars</th>
                            <th>Amount</th>
                            <th>Receipt</th>
                            <th>Account Title</th>
                            <th></th>
                        </tr>
                    </thead>  
                    <tbody >
                        <tr *ngFor="let item of orderItems; let i=index">
                            <td> {{ item.Particulars }} </td>
                            <td> {{ item.Amount }} </td>
                            <td class="w-2">
                              <img [src]="'assets/images/request-images/'+''+item.imageName" class="img-fluid img-thumbnail" alt="Image not found" [style.height]="item.imageName ? '200px' : 'null'">
                            </td>
                            <td> {{ item.accountTitle }} </td>
                            <td class="td-actions text-center">
                                <button type="button" class="btn btn-danger btn-simple btn-xs" (click)="deleteRow(i)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
         </div>  
       </div>

          
        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <div class="row 1">
                <div class="col">
                  <mat-list-item for="fullName">Employee Name:</mat-list-item> <span id="fullName" style="margin-left: 15%;">{{pettyCashRequestForm.value.fullName}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="department">Department:</mat-list-item> <span id="department" style="margin-left: 15%;">{{pettyCashRequestForm.value.department}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
   
              <div class="row 2">
                <div class="col">
                  <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{pettyCashRequestForm.value.contactNo}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{pettyCashRequestForm.value.emailAddress}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row 3">
                <div class="col">
                  <mat-list-item for="company">Company:  </mat-list-item> <span id="company" style="margin-left: 15%;">{{pettyCashRequestForm.value.company}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="branch">Branch:  </mat-list-item> <span id="branch" style="margin-left: 15%;">{{pettyCashRequestForm.value.branch}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
        
              <div class="row">
                <div class="col">
                  <mat-list-item for="DivourcherId">Vourcher Id:</mat-list-item><span id="DivourcherId" style="margin-left: 15%;">{{pettyCashRequestForm.value.DivourcherId}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="pettyCashDate">Petty Cash Date: </mat-list-item><span id="pettyCashDate" style="margin-left: 15%;">{{pettyCashRequestForm.value.pettyCashDate | date : "mediumDate"}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-list-item for="payee">Payee:</mat-list-item><span id="payee" style="margin-left: 15%;">{{pettyCashRequestForm.value.payee}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="Classification">Classification: </mat-list-item><span id="Classification" style="margin-left: 15%;">{{pettyCashRequestForm.value.Classification}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-list-item for="TotalAmount">Total Amount:</mat-list-item><span id="TotalAmount" style="margin-left: 15%;">{{pettyCashRequestForm.value.TotalAmount}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="AmountInWord">Amount In Word: </mat-list-item><span id="AmountInWord" style="margin-left: 15%;">{{pettyCashRequestForm.value.AmountInWord}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-list-item for="PreparedBy">Prepared By:</mat-list-item><span id="PreparedBy" style="margin-left: 15%;">{{pettyCashRequestForm.value.PreparedBy}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="CheckedBy">Checked By: </mat-list-item><span id="CheckedBy" style="margin-left: 15%;">{{pettyCashRequestForm.value.CheckedBy}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-list-item for="ApprovedBy">Approved By:</mat-list-item><span id="ApprovedBy" style="margin-left: 15%;">{{pettyCashRequestForm.value.ApprovedBy}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="AuditBy">Audit By: </mat-list-item><span id="AuditBy" style="margin-left: 15%;">{{pettyCashRequestForm.value.AuditBy}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-list-item for="Reason">Purpose for Requesting:</mat-list-item><span id="Reason" style="margin-left: 15%;">{{pettyCashRequestForm.value.Reason}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="comment">Questions/Comments: </mat-list-item><span id="comment" style="margin-left: 15%;">{{pettyCashRequestForm.value.comment}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <mat-list-item> Ordered Items:  </mat-list-item>
              <div class="panel-body">
                <div class="table-responsive">
                  
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Particulars</th>
                                <th>Amount</th>
                                <th>Receipt </th>
                                <th>Account Title </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of orderItems; let i=index">
                                <td> {{ item.Particulars }} </td>
                                <td> {{ item.Amount }} </td>
                                <td class="w-2">
                                  <img [src]="'assets/images/request-images/'+''+item.imageName" class="img-fluid img-thumbnail" alt="Image not found" [style.height]="item.imageName ? '200px' : 'null'">
                                </td>
                                <td> {{ item.accountTitle }} </td>

                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>  
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>

        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(pettyCashRequestForm.value)" [disabled]="pettyCashRequestForm.invalid || orderItems.length == 0 ">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>
