
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Uniform Request</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">

    
    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="fullName" class="sa-input"> Employee Name:</label>
        <mat-list-item for="fullName" >{{ uniformRequestForm.value['firstName'] +" "+ uniformRequestForm.value['lastName']}}</mat-list-item>  
      </div>

      <div class="col-6 col-md-4 form-group">
        <label for="employeeStatus" class="sa-input"> Employment Status</label>
        <mat-list-item for="employeeStatus">{{ uniformRequestForm.value.employeeStatus}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="branch" class="sa-input"> Branch/Department:</label>
        <mat-list-item for="branch">{{ uniformRequestForm.value['branch'] }}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="replacementOrAdditional" class="sa-input"> Replacement Or Additional</label>
        <mat-list-item>{{ uniformRequestForm.value.replacementOrAdditional }}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="contactNo" class="sa-input"> Contact NO.:</label>
        <mat-list-item for="contactNo" >{{ uniformRequestForm.value.contactNo}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="purpose" class="sa-input"> Purpose For Request:</label>
        <mat-list-item>{{ uniformRequestForm.value.purpose}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="emailAddress" class="sa-input"> Email Address:</label>
        <mat-list-item for="emailAddress">{{ uniformRequestForm.value.emailAddress}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">  
        <label for="comment" class="sa-input"> Comments:</label>
        <mat-list-item>{{ uniformRequestForm.value.comment}}</mat-list-item>
      </div>  
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">

      </div>

      <div class="col-6 col-md-4 form-group">
        <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="uniformRequestForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
        
        <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="uniformRequestForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
      </div>
    </div>

    <div class="panel-body" style="background: rgb(240, 240, 240);">
      <div class="table-responsive">
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>Uniform Type</th>
                      <th>Gender</th>
                      <th>Size</th>
                      <th>Unit Measure</th>
                      <th>Quantity</th>
                      <th>Approved Quantity</th>
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let item of uniformRequestForm.controls.orderItems.value; let i=index">
                      <td> {{ item.uniformType }} </td>
                      <td> {{ item.gender }} </td>
                      <td> {{ item.size }} </td>
                      <td> {{ item.unitMeasure }} </td>
                      <td> {{ item.quantity }} </td>
                      <td> 
                        <input type="number"  [(ngModel)]="approvedQuantity[i]" (change)="getApprovedQty()" [attr.disabled]="currentStatus != 'Pending'|| successMessage ? true : null">
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>    
  </div> 
</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"
              [disabled]="validators()"> {{"Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons" >
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>
</div>
