
<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper (selectionChange)="getIndex($event)">
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="uniformRequestForm">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="uniformRequestForm.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="uniformRequestForm.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="position">Position/Designation</label>
            <input id="position"  formControlName="position"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="uniformRequestForm.controls.position"></app-show-error>
          </div>

          <div class="form-group">
            <label for="employeeStatus">Employement Status</label>
            <input id="employeeStatus" formControlName="employeeStatus" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="uniformRequestForm.controls.employeeStatus"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="uniformRequestForm.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="uniformRequestForm.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="uniformRequestForm">
          <h2>Uniform Request Breakdown</h2>

          <!-- <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approver" 
            matTooltip="Select, If the Approver is not Admin"
            matTooltipPosition="after">
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field  style="width: 50%;">
            <mat-label>Approver</mat-label>
            <input  value="Jennifer Mallorca" matInput [readonly]="true">        
          </mat-form-field>

          
          <div class="row">
              <div class="col form-group">
                  <label for="uniformType">Uniform Type<span class="ic-red">*</span>:</label>
                  <select class="form-control" id="uniformType" placeholder="Select Request Type" formControlName="uniformType">
                    <option></option>
                    <option *ngFor="let opt of uniformTypes" value="{{opt.name}}">{{opt.name}} </option>
                  </select>
                  <app-show-error [control]="uniformRequestForm.controls.uniformType"></app-show-error>
                </div>
      
                <div class="col form-group">
  
                  <label for="replacementOrAdditional">Replacement/Additional<span class="ic-red">*</span>:</label>
                  <select class="form-control" id="replacementOrAdditional" placeholder="Select" formControlName="replacementOrAdditional">
                    <option></option>
                    <option value="Replacement">Replacement</option>
                    <option value="Additional">Additional</option>
                  </select>
                  <app-show-error [control]="uniformRequestForm.controls.replacementOrAdditional"></app-show-error>
              
                </div>

          </div>

          <div class="row">

            <div class="col form-group">
              <label for="Purpose">Purpose<span class="ic-red">*</span>:</label>
              <input  id="Purpose" formControlName="purpose" placeholder="Purpose of Request" class="form-control" >
              <app-show-error [control]="uniformRequestForm.controls.purpose"></app-show-error>
            </div>


             <div class="col form-group">
              <label for="comment">Questions/Comments:</label>
              <textarea class="form-control" formControlName="comment"rows="1" id="comment"></textarea>
            </div>
            
          </div>


          <div class="panel-heading">
              <div class="row">
                  <div class="col-md-3">
                      <div class="col form-group">
                        <label for="">Size<span class="ic-red">*</span>:</label>
                     
                        <select class="form-control" id="size" placeholder="Select" formControlName="size">
                          <option></option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="Extra Small">Extra Small</option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="Small">Small</option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="Medium">Medium</option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="Large">Large</option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="Extra Large">Extra Large</option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="2XL">2XL</option>
                          <option *ngIf="uniformRequestForm.value.uniformType != 'Shoes'" value="3XL">3XL</option>
                          <ng-container *ngFor = "let opt of shoeSizes">
                            <option *ngIf="uniformRequestForm.value.uniformType == 'Shoes'" [value]="opt"> {{opt}}</option>
                          </ng-container>
                        </select>
                  

                          <!-- <label for="" class="col-sm-4 col-form-label sa-input">size:</label>
                          <div class="col-sm-7" style="padding-top : 4px;">
                              <input type="text" class="form-control" id="size" formControlName="size">
                              <app-show-error [control]="uniformRequestForm.controls.size"></app-show-error>
                          </div> -->
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="col form-group">
                          <label for="" >Gender<span class="ic-red">*</span>:</label>
                    
                              <input  type="text"   class="form-control" id="gender" formControlName="gender">
                              <app-show-error [control]="uniformRequestForm.controls.gender"></app-show-error>
                
                      </div>
                  </div>

                  
                  <div class="col-md-2">
                    <div class="col form-group">
                        <label for="" >Unit Measure<span class="ic-red">*</span>:</label>
                    
                            <input  type="text"   class="form-control" placeholder="Pcs, Box, etc" id="unitMeasure" formControlName="unitMeasure">
                            <app-show-error [control]="uniformRequestForm.controls.unitMeasure"></app-show-error>
                    
                    </div>
                </div>

                  <div class="col-md-2">
                          <div class="col form-group">
                              <label for="quantity" >Quantity<span class="ic-red">*</span>:</label>
                           
                                  <input onlyNumber type="number"  class="form-control" id="quantity" formControlName="quantity">
                                  <app-show-error [control]="uniformRequestForm.controls.quantity"></app-show-error>
                             
                          </div>
                      </div>

                      <div class="col-md-2">
                          <div class="form-group row form_code" formArrayName="orderItems">
                              <input type="button" name="" style="margin-top: 23px;" class="btn btn-primary" value="Add" (click)="AddItem($event)" 
                              [disabled]="uniformRequestForm.controls.uniformType.invalid ||
                                          uniformRequestForm.controls.size.invalid ||
                                          uniformRequestForm.controls.gender.invalid  ||
                                          uniformRequestForm.controls.unitMeasure.invalid  ||
                                          uniformRequestForm.controls.quantity.invalid ">
                          </div>
                      </div>
                   </div>
          </div>

         
        <div *ngIf="uniformRequestForm.controls.orderItems.value[0]">
            <h2>Order Items</h2>
            <div class="panel-body" style="background: rgb(240, 240, 240);">
              <div class="table-responsive">
                  <table class="table table-striped table-hover">
                      <thead>
                          <tr>
                              <th>Uniform Type</th>
                              <th>Gender</th>
                              <th>Size</th>
                              <th>Unit Measure</th>
                              <th>Quantity</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody >
                          <tr *ngFor="let item of orderItems; let i=index">
                            <td> {{ item.uniformType }} </td>
                              <td> {{ item.gender }} </td>
                              <td> {{ item.size }} </td>
                              <td> {{ item.unitMeasure }} </td>
                              <td> {{ item.quantity }} </td>

                              <td class="td-actions text-center">
                                  <button type="button" class="btn btn-danger btn-simple btn-xs" (click)="deleteRow(i)">Delete</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>    
          </div>   
        </div>  
 
              
          


        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

  
  

              <mat-list>
                <div class="row 1">
                  <div class="col">
                    <mat-list-item for="fullName">Employee Name:</mat-list-item> <span id="fullName" style="margin-left: 15%;">{{uniformRequestForm.value.fullName}}</span>
                    <mat-divider></mat-divider>
                  </div>
                  <div class="col">
                    <mat-list-item for="branch">Branch/Department:</mat-list-item> <span id="branch" style="margin-left: 15%;">{{uniformRequestForm.value.branch_Dept}}</span>
                    <mat-divider></mat-divider>
                  </div>
                </div>
                <div class="row 2">
                  <div class="col">
                    <mat-list-item for="position">Position/Designation:  </mat-list-item> <span id="position" style="margin-left: 15%;">{{uniformRequestForm.value.position}}</span>
                    <mat-divider></mat-divider>
                  </div>

                  <div class="col">
                    <mat-list-item for="employeeStatus">Employee Status:  </mat-list-item><span id="employeeStatus" style="margin-left: 15%;">{{uniformRequestForm.value.employeeStatus}}</span>
                    <mat-divider></mat-divider>
                  </div>
                </div>
                <div class="row 3">
                  <div class="col">
                    <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{uniformRequestForm.value.contactNo}}</span> 
                    <mat-divider></mat-divider>
                  </div>
                  <div class="col">
                    <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{uniformRequestForm.value.emailAddress}}</span> 
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>

              <div class="row 1">
                <div class="col">
                  <mat-list-item> Purpose:  </mat-list-item><span id="purpose" style="margin-left: 15%;">{{uniformRequestForm.value.purpose}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item> Replacement/Additional:  </mat-list-item><span id="replacementOrAdditional" style="margin-left: 15%;">{{uniformRequestForm.value.replacementOrAdditional}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 2">

                <div class="col">
                  <mat-list-item> Comments:  </mat-list-item><span id="comment" style="margin-left: 15%;"> {{uniformRequestForm.value.comment}}</span>
                  <mat-divider></mat-divider>  
                </div>
              </div>



 

              <mat-list-item> Ordered Items:  </mat-list-item>
              <div class="panel-body">
                <div class="table-responsive">
                  
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Uniform Type</th>
                                <th>Size</th>
                                <th>Gender</th>
                                <th>Unit Measure</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of orderItems; let i=index">
                                <td> {{ item.uniformType }} </td>
                                <td> {{ item.size }} </td>
                                <td> {{ item.gender }} </td>
                                <td> {{ item.unitMeasure }} </td>
                                <td> {{ item.quantity }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>  
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>

        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(uniformRequestForm.value)" [disabled]="uniformRequestForm.invalid || orderItems.length == 0 ">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>