
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Business Card Request</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">

    
    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="fullName" class="sa-input"> Employee Name:</label>
        <mat-list-item for="fullName" >{{ businessCardForm.value['firstName'] +" "+ businessCardForm.value['lastName']}}</mat-list-item>  
      </div>

      <div class="col-6 col-md-4 form-group">
        <label for="branch" class="sa-input"> Branch/Department:</label>
        <mat-list-item for="branch">{{ businessCardForm.value['branch'] }}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="purpose" class="sa-input"> Purpose:</label>
        <mat-list-item for="purpose" >{{ businessCardForm.value['purpose']}}</mat-list-item>  
      </div>

      <div class="col-6 col-md-4 form-group">
        <label for="brand" class="sa-input"> Brand:</label>
        <mat-list-item for="brand">{{ businessCardForm.value['brand'] }}</mat-list-item>
      </div>
    </div>

    <h2>Card Details</h2>
    <mat-divider></mat-divider>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="nameOnCard" class="sa-input"> Name On Card:</label>
        <mat-list-item for="nameOnCard">{{ businessCardForm.value['nameOnCard'] }}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="position" class="sa-input"> Position:</label>
        <mat-list-item for="position">{{ businessCardForm.value['position'] }} </mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="company" class="sa-input"> Company:</label>
        <mat-list-item for="company">{{ businessCardForm.value['company'] }} </mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="address" class="sa-input"> Address:</label>
        <mat-list-item>{{ businessCardForm.value.address}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="mobile" class="sa-input"> Mobile:</label>
        <mat-list-item for="mobile">{{ businessCardForm.value['mobile'] }} </mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="landline" class="sa-input"> Landline:</label>
        <mat-list-item>{{ businessCardForm.value.landline}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="emailAddress" class="sa-input"> Email Address:</label>
        <mat-list-item for="emailAddress">{{ businessCardForm.value.purpose}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">  
        <label for="quantity" class="sa-input"> Quantity:</label>
        <mat-list-item>{{ businessCardForm.value.quantity}}</mat-list-item>
      </div>  
    </div>
    <mat-divider></mat-divider>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <!-- <label for="purpose" class="sa-input"> Purpose:</label>
        <mat-list-item for="purpose">{{ businessCardForm.value.purpose}}</mat-list-item> -->
      </div>

      <div class="col-6 col-md-4 form-group">
        <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="businessCardForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
        
        <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="businessCardForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
      </div>
    </div>
</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{"Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons" >
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>
</div>
