<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper  (selectionChange)="getIndex($event)">
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="marketingMaterialRequestFrom">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="marketingMaterialRequestFrom.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="marketingMaterialRequestFrom.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="position">Position</label>
            <input id="position" formControlName="position" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="marketingMaterialRequestFrom.controls.position"></app-show-error>
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input id="company" formControlName="company" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="marketingMaterialRequestFrom.controls.company"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="marketingMaterialRequestFrom.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="marketingMaterialRequestFrom.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="marketingMaterialRequestFrom">
          <div>
            <h2>Fill up Forms</h2>
          </div>


          <!-- <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approver" 
            matTooltip="Select, If the Approver is not Admin"
            matTooltipPosition="after">
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field  style="width: 50%;">
            <mat-label>Approver</mat-label>
            <input  value="Israel Doton" matInput [readonly]="true">        
          </mat-form-field>


          <div class="form-group">
            <label for="requestType">Request Type<span class="ic-red">*</span>:</label>
            <select class="form-control" id="requestType" formControlName="requestType" (change)="onChange($event.target.value)"
                    matTooltip="if others, please specify">
              <option></option>
              <option *ngFor="let opt of requesttypes" value="{{opt.name}}">{{opt.name}} </option>
            </select>
            <app-show-error [control]="marketingMaterialRequestFrom.controls.requestType"></app-show-error>
          </div>

          <div class="row">
            <div class="col-md-6 custom-file m-5">
              <input type="file" class="custom-file-input" id="customFile" formControlName="imageName" (change)="onSelectFile($event)">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <div class="col form-group  ml-5 mr-5" *ngIf="url">
              <img [src]="url" height="200"> <br/>
            </div>
          </div>
          
          <div class="row" *ngIf="!haveItemList">
            <div class="col form-group">
              <label for="itemDescription">Item Description<span class="ic-red">*</span>:  </label>
              <input  id="itemDescription" formControlName="itemDescription" placeholder="Description" class="form-control"
                     matTooltip="Material, quantity, measurements" >
              <app-show-error [control]="marketingMaterialRequestFrom.controls.itemDescription"></app-show-error>
            </div>
 
          </div>

          <div class="row">
            <div class="col form-group">
             <div class="col form-group">
              <label class="row">Date Needed<span class="ic-red">*</span>:</label>

                 <!-- <mat-form-field appearance="legacy" class="row"> -->
                  <input type ="date" style="width:50% !important"  formControlName="dateNeeded" id="dateNeeded" />
                    <!-- <input matInput class="col" [matDatepicker]="dateNeeded" formControlName="dateNeeded" placeholder="Choose a date"
                           matTooltip="For urgent client requests">
                    <mat-datepicker-toggle  class="col" matSuffix [for]="dateNeeded"></mat-datepicker-toggle>
                    <mat-datepicker #dateNeeded></mat-datepicker> -->
                <!-- </mat-form-field> -->
                <app-show-error [control]="marketingMaterialRequestFrom.controls.dateNeeded"></app-show-error> 
             
              </div>
            </div>
  
            <div class="col form-group">
              <label for="comment">Questions/Comments:</label>
              <textarea class="form-control" formControlName="comment"rows="2" id="comment"></textarea>
            </div>
          </div>

          <div class="panel-heading" *ngIf="haveItemList">
            <div class="row">
                 <div class="col-md-3">
                  <div class="col form-group">
                    <label for="Item">Item Name<span class="ic-red">*</span>:</label>
                    <!-- <input  id="Item" formControlName="Item" placeholder=""class="form-control"> -->

                    <select class="form-control" id="Item" formControlName="Item">
                      <option></option>
                      <option *ngFor="let opt of itemlist" value="{{opt.name}}">{{opt.name}} </option>
                    </select>
                 </div>
                </div>

                <div class="col-md-3">
                  <div class="col form-group">
                    <label for="Description">Description<span class="ic-red">*</span>:</label>
                    <input  id="Description" formControlName="Description" placeholder="" class="form-control">
                 </div>
                </div> 

                <div class="col-md-2">
                  <div class="col form-group">
                    <label for="unitMeasure">Unit Measure<span class="ic-red">*</span>:</label>
                    <input  id="unitMeasure" formControlName="unitMeasure" placeholder="Pcs, Box, etc"class="form-control" >
                    <app-show-error [control]="marketingMaterialRequestFrom.controls.unitMeasure"></app-show-error>
                  </div>
                </div>
                
                <div class="col-md-2">
                        <div class="col form-group">
                            <label for="Quantity" >Quantity<span class="ic-red">*</span>:</label>
                            <input onlyNumber type="number"  class="form-control" id="Quantity" formControlName="Quantity">
                            <app-show-error [control]="marketingMaterialRequestFrom.controls.Quantity"></app-show-error>
                           
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row form_code " style="margin-top: 23px; margin-right: 10%;" formArrayName="orderItems">
                            <input type="button" name="" class="btn btn-primary" value="Add" (click)="AddItem($event)" 
                            [disabled]="
                                        marketingMaterialRequestFrom.controls.requestType.invalid ||
                                        marketingMaterialRequestFrom.controls.Item.invalid ||
                                        marketingMaterialRequestFrom.controls.Description.invalid  ||
                                        marketingMaterialRequestFrom.controls.unitMeasure.invalid  ||
                                        marketingMaterialRequestFrom.controls.Quantity.invalid " >
                        </div>
                    </div>
                 </div>
          </div>

          <div *ngIf="marketingMaterialRequestFrom.controls.orderItems.value[0]">
            <h2>Order Items</h2>
            <div class="panel-body" style="background: rgb(240, 240, 240);">
              <div class="table-responsive">
                  <table class="table table-striped table-hover">
                      <thead>
                          <tr>
                              <th>Request Type</th>
                              <th>Item Name</th>
                              <th>Description</th>
                              <th>Unit Measure</th>
                              <th>Quantity</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody >
                          <tr *ngFor="let item of orderItems; let i=index">
                              <td> {{ item.requestType }} </td>
                              <td> {{ item.Item }} </td>
                              <td> {{ item.Description }} </td>
                              <td> {{ item.unitMeasure }} </td>
                              <td> {{ item.Quantity }} </td>
  
                              <td class="td-actions text-center">
                                  <button type="button" class="btn btn-danger btn-simple btn-xs" (click)="deleteRow(i)">Delete</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>    
           </div>  
         </div>

        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <div class="row 1">
                <div class="col">
                  <mat-list-item for="fullName">Employee Name:</mat-list-item> <span id="fullName" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.fullName}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="branch">Branch/Department:</mat-list-item> <span id="branch" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.branch_Dept}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 2">
                <div class="col">
                  <mat-list-item for="position">Position/Designation:  </mat-list-item> <span id="position" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.position}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="company">Company:  </mat-list-item><span id="company" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.company}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 3">
                <div class="col">
                  <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.contactNo}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.emailAddress}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <div class="row 1">
                <div class="col">
                  <mat-list-item for="requestType">Request&nbsp;Type:</mat-list-item> <span id="requestType" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.requestType}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="itemDescription">Item&nbsp;Description:</mat-list-item> <span id="itemDescription" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.itemDescription}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row 2">
                <div class="col">
                  <mat-list-item for="dateNeeded">Date Needed:  </mat-list-item><span id="dateNeeded" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.dateNeeded | date : "mediumDate"}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="comment">Questions/Comments:</mat-list-item><span id="comment" style="margin-left: 15%;">{{marketingMaterialRequestFrom.value.comment}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
      
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>






        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(marketingMaterialRequestFrom.value)" [disabled]="marketingMaterialRequestFrom.invalid">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>
