
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Change Info. Request</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">
  <mat-dialog-content>
  <form [formGroup]="changeInfoForm">
  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="fullName" class="sa-input"> Employee Name:</label>
      <mat-list-item for="fullName" >{{ changeInfoForm.value['firstName'] +" "+ changeInfoForm.value['lastName']}}</mat-list-item>  
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="emailAddress" class="sa-input"> Email Address: </label>
      <mat-list-item>{{ changeInfoForm.value.emailAddress }}</mat-list-item>
    </div>
  </div>

 
    <div class= "row"  *ngIf="isChange('Bio')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Biometric ID:</label>
          <mat-list-item>{{ changeInfoForm.value.currentBiometricId}}</mat-list-item>
      </div>
      
      <div class="col-6 col-md-4 form-group">
        <label for="newbiometricId" class="sa-input">New Biometric ID:</label>
        <input id="newbiometricId" formControlName ="newbiometricId" class="col form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null">
      </div>
    </div>

    <div class= "row"  *ngIf="isChange('Branch')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Branch:</label>
          <mat-list-item *ngFor="let opt of branch">{{ changeInfoForm.value.currentBranch == opt.id ? opt.branch : null}}</mat-list-item>
      </div>
      
      <div class="col-6 col-md-4 form-group">
        <label for="newBranch" class="sa-input">New Branch:</label>
        <select formControlName="newBranch" class=" col form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null">
          <!-- <option ></option> -->
          <option *ngFor="let opt of branch" [value]="opt.id">{{opt.branch}} </option>
        </select>
      </div>
    </div>
  
    <div class= "row" *ngIf="isChange('Department')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Department:</label>
          <mat-list-item *ngFor="let opt of department">{{ changeInfoForm.value.currentDepartment == opt.id ? opt.department : null}}</mat-list-item>
      </div>
      
      <div class="col-6 col-md-4 form-group">
        <label for="newDepartment" class="sa-input">New Department:</label>
        <select formControlName="newDepartment" class=" col form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null">
          <!-- <option ></option> -->
          <option *ngFor="let opt of department" [value]="opt.id">{{opt.department}} </option>
        </select>
      </div>
    </div>
  
    <div class= "row" *ngIf="isChange('Position')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Position:</label>
          <mat-list-item *ngFor="let opt of position">{{ changeInfoForm.value.currentPosition == opt.id ? opt.position : null}}</mat-list-item>
      </div>
      
      <div class="col-6 col-md-4 form-group">
        <label for="newPosition" class="sa-input">New Position:</label>
        <select formControlName="newPosition" class=" col form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null">
          <!-- <option ></option> -->
          <option *ngFor="let opt of position" [value]="opt.id">{{opt.position}} </option>
        </select>
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('Company')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Company:</label>
          <mat-list-item *ngFor="let opt of company">{{ changeInfoForm.value.currentCompany == opt.id ? opt.company : null}}</mat-list-item>
      </div>
      
      <div class="col-6 col-md-4 form-group">
        <label for="newCompany" class="sa-input">New Company:</label>
        <select formControlName="newCompany" class=" col form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null">
          <!-- <option ></option> -->
          <option *ngFor="let opt of company" [value]="opt.id">{{opt.company}} </option>
        </select>
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('HiringDate')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Hiring Date:</label>
          <mat-list-item >{{ changeInfoForm.value.currentHiringDate ?  (changeInfoForm.value.currentHiringDate | date : "mediumDate"): 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newHiringDate" class="sa-input">New Hiring Date:</label>
        <input type="date"id="newHiringDate" formControlName="currentHiringDate" value="{{ changeInfoForm.value.newHiringDate | date:'yyyy-MM-dd' }}"class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('DateStart')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Date Start:</label>
          <mat-list-item >{{ changeInfoForm.value.currentDateStart ?  (changeInfoForm.value.currentDateStart | date : "mediumDate"): 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newDateStart" class="sa-input">New Date Start:</label>
        <input type="date"id="newDateStart" formControlName="newDateStart" value="{{ changeInfoForm.value.newDateStart | date:'yyyy-MM-dd' }}" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('EmpStatus')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Employee Status:</label>
          <mat-list-item >{{ changeInfoForm.value.currentEmpStatus ?  changeInfoForm.value.currentEmpStatus : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newEmpStatus" class="sa-input">New Employee Status:</label>
        <input id="newEmpStatus" formControlName="newEmpStatus" class="col form-control">
      </div>
    </div> 
    
    <div class= "row" *ngIf="isChange('EducAttain')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current EducAttain:</label>
          <mat-list-item >{{ changeInfoForm.value.currentEducAttain ?  changeInfoForm.value.currentEducAttain : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newEducAttain" class="sa-input">New Education Attainment:</label>
        <input id="newEducAttain" formControlName="newEducAttain" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('SchoolName')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current School Name:</label>
          <mat-list-item >{{ changeInfoForm.value.currentSchoolName ?  changeInfoForm.value.currentSchoolName : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newSchoolName" class="sa-input">New School Name:</label>
        <input id="newSchoolName" formControlName="newSchoolName" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('Course')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Course:</label>
          <mat-list-item >{{ changeInfoForm.value.currentCourse ?  changeInfoForm.value.currentCourse : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newCourse" class="sa-input">New Course:</label>
        <input id="newCourse" formControlName="newCourse" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('AttendYr')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Year Attended:</label>
          <mat-list-item >{{ changeInfoForm.value.currentAttendYr ?  changeInfoForm.value.currentAttendYr : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newAttendYr" class="sa-input">New Year Attended:</label>
        <input id="newAttendYr" formControlName="newAttendYr" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('AttendYr')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Year Attended:</label>
          <mat-list-item >{{ changeInfoForm.value.currentAttendYr ?  changeInfoForm.value.currentAttendYr : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newAttendYr" class="sa-input">New Year Attended:</label>
        <input id="newAttendYr" formControlName="newAttendYr" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('SssNo')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Sss No:</label>
          <mat-list-item >{{ changeInfoForm.value.currentSssNo ?  changeInfoForm.value.currentSssNo : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newSssNo" class="sa-input">New Sss No:</label>
        <input id="newSssNo" formControlName="newSssNo" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('PagibigNo')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Pagibig No:</label>
          <mat-list-item >{{ changeInfoForm.value.currentPagibigNo ?  changeInfoForm.value.currentPagibigNo : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newPagibigNo" class="sa-input">New Pagibig No:</label>
        <input id="newPagibigNo" formControlName="newPagibigNo" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('TinNo')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current TinNo:</label>
          <mat-list-item >{{ changeInfoForm.value.currentTinNo ?  changeInfoForm.value.currentTinNo : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newTinNo" class="sa-input">New Tin No:</label>
        <input id="newTinNo" formControlName="newTinNo" class="col form-control">
      </div>
    </div> 

    <div class= "row" *ngIf="isChange('PhilHealthNo')">
      <div class="col-6 col-md-7 form-group">
        <label class="sa-input">Current Pagibig No:</label>
          <mat-list-item >{{ changeInfoForm.value.currentPhilHealthNo ?  changeInfoForm.value.currentPhilHealthNo : 'No Value'}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="newPhilHealthNo" class="sa-input">New PhilHealth No:</label>
        <input id="newPhilHealthNo" formControlName="newPhilHealthNo" class="col form-control">
      </div>
    </div> 
    
   
  
    <div class= "row">
      <div class="col-6 col-md-7 form-group"></div>
      <div class="col-6 col-md-4 form-group">
        <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="changeInfoForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
        
        <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="changeInfoForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
      </div>
    </div>

  </form>
     
</mat-dialog-content>
</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>
  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Approved" : "Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Approved" : "Approved"}}</button>
    </div>
  </div>
</div>
