<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <!-- <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div> -->


   <div class="panel-body">
    <div class="table-responsive table-bordered  table-striped">
        <table class="table">
            <thead>
                <tr>                  
                    <th>DATE CREATED</th>
                    <th>COMPANY/BRANCH</th>
                    <th>PREPARED BY</th>
                    <th>CLASSIFICATION</th>
                    <th>PAYEE</th>
                    <th>PETTY CASH DATE</th>
                    <th>TOTAL AMOUNT</th>
                    <th>REASON</th>
                    <th></th>           
            </thead>
            <tbody  >
                <tr *ngFor="let list of pettyCashRequest">                     
                    <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                    <td>{{ list.company }} / {{list.branch}}</td>
                    <td>{{ list.preparedBy }}</td>
                    <td>{{ list.classification}}</td>
                    <td>{{ list.payeeName }}</td>
                    <td>{{ list.pettyCashDate | date : "mediumDate"}}</td>
                    <td>{{ list.totalAmount }} ( {{list.amountInWord}} )</td>
                    <td>{{ list.reason }}</td>
                    <td> 
                      <button class="btn btn-info" (click)="openDialog(list.id, 'Accept', list.status, i)">Details</button>
                    </td>
                </tr>     
            </tbody>
        </table>    
    </div>
  </div>


  </div>
</div>