<div class="content">

  <h1 class="title bg-light">{{title}}</h1>
  <!-- <p>
    For staff such as cashiers, inventory personnel, clerks, and helpers:<br>
    Approval from the Branch Manager or your direct supervisor will be confirmed by the HR Department before your request is honored.<br><br>

For team leaders such as branch managers, department heads and the like:<br>
Approval from your Area Manager will be confirmed through the HR Department before the request is honored.<br><br>

Medical Certificates or proper documentation for emergency cases must be received by the Office of the HR
 within 12 hours from the time the employee resumes work. These may be faxed or sent through email/Viber.<br><br>

For maternity leaves, send the medical certificate indicating expected date of delivery.<br><br>
  </p> -->
  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper>
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="businessCardRequestFrom">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="businessCardRequestFrom.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="businessCardRequestFrom.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="position">Position</label>
            <input id="position" formControlName="position" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="businessCardRequestFrom.controls.position"></app-show-error>
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input id="company" formControlName="company" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="businessCardRequestFrom.controls.company"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="businessCardRequestFrom.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="businessCardRequestFrom.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="businessCardRequestFrom">
          <div>
            <h2>Card Details</h2>
            <p>Please enter card details below as you want them to appear.</p>
          </div>


          <!-- <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approver" 
            matTooltip="Select, If the Approver is not Admin"
            matTooltipPosition="after">
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field  style="width: 50%;">
            <mat-label>Approver</mat-label>
            <input  value="Anna Isabel Ferrer" matInput [readonly]="true">        
          </mat-form-field>

          <div class="row">
            <div class="col form-group">
              <label for="NameonCard">Name to Appear on Card<span class="ic-red">*</span>:</label>
              <input  id="NameonCard" formControlName="NameonCard" placeholder="Name on Card" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.NameonCard"></app-show-error>
            </div>

            <div class="col form-group">
              <label for="brand">Brand<span class="ic-red">*</span>:</label>
              <select class="form-control" id="brand" placeholder="Select Brand" formControlName="brand">
                <option></option>
                <option value="Floor Center">Floor Center</option>
                <option value="Tile Depot">Tile Depot</option>
              </select>
              <app-show-error [control]="businessCardRequestFrom.controls.brand"></app-show-error>
            </div>
          </div>


          <div class="row">
            <div class="col form-group">
              <label for="position">Position<span class="ic-red">*</span>:</label>
              <input  id="position" formControlName="position" placeholder="position" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.position"></app-show-error>
            </div>
  
            <div class="col form-group">
              <label for="company">Company<span class="ic-red">*</span>:</label>
              <input  id="company" formControlName="company" placeholder="company" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.company"></app-show-error>
            </div>
          </div>


          <div class="form-group">
            <label for="address">Address<span class="ic-red">*</span>:</label>
            <input  id="address" formControlName="address" placeholder="address" class="form-control" >
            <app-show-error [control]="businessCardRequestFrom.controls.address"></app-show-error>
          </div>

          <div class="row">
            <div class="col form-group">
              <label for="emailAddress">Email Address<span class="ic-red">*</span>:</label>
              <input  id="emailAddress" formControlName="emailAddress" placeholder="Email Address" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.emailAddress"></app-show-error>
            </div>
  
            <div class="col form-group">
              <label for="mobile">Mobile Number<span class="ic-red">*</span>:</label>
              <input  id="mobile" formControlName="mobile" placeholder="mobile" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.mobile"></app-show-error>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="landline">Landline Number<span class="ic-red">*</span>:</label>
              <input  id="landline" formControlName="landline" placeholder="landline" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.landline"></app-show-error>
            </div>

            <div class="col form-group">
              <label for="quantity">Quantity<span class="ic-red">*</span>:</label>
              <input  id="quantity" type="number" formControlName="quantity" placeholder="quantity" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.quantity"></app-show-error>
            </div>
          </div>

          <div class="row">
            <div class="col form-group">
              <label for="purpose">Purpose for Request<span class="ic-red">*</span>:</label>
              <input  id="purpose" formControlName="purpose" placeholder="purpose" class="form-control" >
              <app-show-error [control]="businessCardRequestFrom.controls.purpose"></app-show-error>
            </div>
  
            <div class="col form-group">
              <label for="comment">Questions/Comments:</label>
              <textarea class="form-control" formControlName="comment"rows="2" id="comment"></textarea>
            </div>
          </div>
        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <div class="row 1">
                <div class="col">
                  <mat-list-item for="fullName">Employee Name:</mat-list-item> <span id="fullName" style="margin-left: 15%;">{{businessCardRequestFrom.value.fullName}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="branch">Branch/Department:</mat-list-item> <span id="branch" style="margin-left: 15%;">{{businessCardRequestFrom.value.branch_Dept}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 2">
                <div class="col">
                  <mat-list-item for="position">Position/Designation:  </mat-list-item> <span id="position" style="margin-left: 15%;">{{businessCardRequestFrom.value.position}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="company">Company:  </mat-list-item><span id="company" style="margin-left: 15%;">{{businessCardRequestFrom.value.company}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 3">
                <div class="col">
                  <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{businessCardRequestFrom.value.contactNo}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{businessCardRequestFrom.value.emailAddress}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <div class="row 1">
                <div class="col">
                  <mat-list-item for="NameonCard">Name&nbsp;on&nbsp;Card:</mat-list-item> <span id="NameonCard" style="margin-left: 15%;">{{businessCardRequestFrom.value.NameonCard}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="landline">Landline&nbsp;Number:</mat-list-item> <span id="landline" style="margin-left: 15%;">{{businessCardRequestFrom.value.landline}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>

              <mat-list-item for="address">Address:  </mat-list-item><span id="address"><p  style="margin-left: 7%;">{{businessCardRequestFrom.value.address}}</p></span>
              <mat-divider></mat-divider>

              <div class="row 2">
                <div class="col">
                  <mat-list-item for="mobile">Mobile&nbsp;Number:  </mat-list-item> <span id="mobile" style="margin-left: 15%;">{{businessCardRequestFrom.value.mobile}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="quantity">Quantity:  </mat-list-item><span id="quantity" style="margin-left: 15%;">{{businessCardRequestFrom.value.quantity}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 3">
                <div class="col">
                  <mat-list-item for="purpose">Purpose for Request:</mat-list-item><span id="purpose" style="margin-left: 15%;">{{businessCardRequestFrom.value.purpose}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="comment">Questions/Comments:</mat-list-item><span id="comment" style="margin-left: 15%;">{{businessCardRequestFrom.value.comment}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>






        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(businessCardRequestFrom.value)" [disabled]="businessCardRequestFrom.invalid">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>

<!-- <div class="content">

  <h1 class="title bg-light">{{title}}</h1>
  <div class="main-content"  >

  <form class="">

    <h2>Card Details</h2>
    <h4>Please enter card details below as you want them to appear.</h4>
      <div class="form-group">
        <label for="">Name to Appear on Card *</label>
        <input id=""  class="form-control">
      </div>

      <div class="form-group">
        <label for="">Position: *</label>
        <input id=""  class="form-control">
      </div>

      <div class="form-group">
        <label for="">Address: *</label>
        <input id=""  class="form-control">
      </div>

      <div class="form-group">
        <label for="">Company *</label>
        <select id=""  class="form-control" style="width: 300px !important">
          <option value="">Please Indicate Appropriate Company</option>
          <option value="Floor Center">Floor Center</option>
          <option value="FC Tile Depot">FC Tile Depot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Cellphone Number</label>
        <input id=""   class="form-control" style="width: 300px !important">
      </div>

      <div class="form-group">
        <label for="">Landline Number</label>
        <input id=""   class="form-control" style="width: 300px !important">
      </div>

      <div class="form-group">
        <label for="">Email Address</label>
        <input id="" class="form-control" style="width: 300px !important">
      </div>   

      <div class="form-group">
        <label for="">Quantity</label>
        <input id="" class="form-control" style="width: 300px !important">
      </div>   
  </form>  

  <div>
    <button class="btn btn-danger" type="submit" >Submit</button>
  </div>
  </div>
</div> -->