<div class="content">

  <h1 class="title bg-light">{{title}}</h1>
  <!-- <p>
    For staff such as cashiers, inventory personnel, clerks, and helpers:<br>
    Approval from the Branch Manager or your direct supervisor will be confirmed by the HR Department before your request is honored.<br><br>

For team leaders such as branch managers, department heads and the like:<br>
Approval from your Area Manager will be confirmed through the HR Department before the request is honored.<br><br>

Medical Certificates or proper documentation for emergency cases must be received by the Office of the HR
 within 12 hours from the time the employee resumes work. These may be faxed or sent through email/Viber.<br><br>

For maternity leaves, send the medical certificate indicating expected date of delivery.<br><br>
  </p> -->
  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
  </div>
    <mat-horizontal-stepper>
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="incidentReportForm">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="incidentReportForm.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="incidentReportForm.controls.branch_Dept"></app-show-error>
          </div>

          <div class="form-group">
            <label for="biometricId">Biometric ID#</label>
            <input id="biometricId" formControlName="biometricId" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="incidentReportForm.controls.biometricId"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="incidentReportForm.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="incidentReportForm.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="incidentReportForm">
          <h2>Fill up forms</h2>

          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <!-- <mat-select formControlName="approver" multiple> -->
            <mat-select formControlName="approver" >
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <app-show-error [control]="incidentReportForm.controls.approver"></app-show-error>
          
          <div class="form-group">
            <label for="personReporting">Person Reporting<span class="ic-red">*</span>:</label>
            <input id="personReporting" formControlName="personReporting" class="form-control" >
            <app-show-error [control]="incidentReportForm.controls.personReporting"></app-show-error>
          </div>   

          <div class="form-group">
            <label for="supervisor">Supervisor<span class="ic-red">*</span>:</label>
            <input id="supervisor" formControlName="supervisor" class="form-control" >
            <app-show-error [control]="incidentReportForm.controls.supervisor"></app-show-error>
          </div>   

          <div class="form-group">
            <label for="incidentLocation">Location Of Incident<span class="ic-red">*</span>:</label>
            <input id="incidentLocation" formControlName="incidentLocation" class="form-control" >
            <app-show-error [control]="incidentReportForm.controls.incidentLocation"></app-show-error>
          </div>   

          <div class="row">
            <div class=" col-sm-6 form-group">
              <label for="dateOfEvent">Date of Activity <span class="ic-red">*</span>:</label>
              <div>
                <input type ="date" style="width:50% !important" formControlName="dateOfEvent" id="dateOfEvent" />
                <!-- <input style="width:50% !important"  [matDatepicker]="dateOfEvent" formControlName="dateOfEvent" id="dateOfEvent" placeholder="Date of Activity" [attr.disabled]="true">
                <mat-datepicker-toggle matSuffix [for]="dateOfEvent"></mat-datepicker-toggle>
                <mat-datepicker #dateOfEvent disabled="false"></mat-datepicker> -->
              </div>
              <app-show-error [control]="incidentReportForm.controls.dateOfEvent"></app-show-error>
            </div>
  
            <div class=" col-sm-6 form-group">
              <label for="timeOfEvent">Time Of Incident<span class="ic-red">*</span>:</label>
              <div>
            
                <input id="timeOfEvent" formControlName="timeOfEvent" type="time" placeholder="Time Of Event">
                <app-show-error [control]="incidentReportForm.controls.timeOfEvent"></app-show-error>
              </div>
         
            </div>
          </div>
 
          <div class="form-group" >
            <label for="witness">Witness in Incident:</label>
            <input id="witness" formControlName="witness" placeholder="Any witness if there's" class="form-control" >
            <app-show-error [control]="incidentReportForm.controls.witness"></app-show-error>
          </div>
        
          <div class="form-group">
            <label for="descriptionOfHappening">Description of Event<span class="ic-red">*</span>:</label>
            <textarea class="form-control" formControlName="descriptionOfHappening"rows="2" id="descriptionOfHappening"></textarea>
            <app-show-error [control]="incidentReportForm.controls.descriptionOfHappening"></app-show-error>
          </div>

        </form>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

              <mat-list>
                <mat-list-item for="fullName">Employee Name:</mat-list-item><span id="fullName" style="margin-left: 15%;">{{incidentReportForm.value.fullName}}</span>
                <mat-divider></mat-divider>
                <mat-list-item for="branch">Branch/Department:</mat-list-item><span id="branch" style="margin-left: 15%;">{{incidentReportForm.value.branch_Dept}}</span>
                <mat-divider></mat-divider>
                <mat-list-item for="biometricId">Biometric ID:  </mat-list-item><span id="biometricId" style="margin-left: 15%;">{{incidentReportForm.value.biometricId}}</span>
                <mat-divider></mat-divider>
                <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{incidentReportForm.value.contactNo}}</span> 
                <mat-divider></mat-divider>
                <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{incidentReportForm.value.emailAddress}}</span> 
              </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item> Person Reporting: </mat-list-item><span id="personReporting" style="margin-left: 15%;">{{incidentReportForm.value.personReporting}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Supervisor: </mat-list-item><span id="supervisor" style="margin-left: 15%;">{{incidentReportForm.value.supervisor}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Location Of Incident:  </mat-list-item><span id="incidentLocation" style="margin-left: 15%;">{{incidentReportForm.value.incidentLocation}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Date Of Incident:  </mat-list-item><span id="dateOfEvent" style="margin-left: 15%;">{{incidentReportForm.value.dateOfEvent | date : "mediumDate" }}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Time Of Incident:  </mat-list-item><span id="timeOfEvent" style="margin-left: 15%;">{{incidentReportForm.value.timeOfEvent}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Witness:  </mat-list-item><span id="witness" style="margin-left: 15%;">{{incidentReportForm.value.witness}}</span>
              <mat-divider></mat-divider>
              <mat-list-item> Description Of Incident  </mat-list-item><span id="descriptionOfHappening" style="margin-left: 15%;"> {{incidentReportForm.value.descriptionOfHappening}}</span>
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>






        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(incidentReportForm.value)" [disabled]="incidentReportForm.invalid">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>