
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Incident report</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">
 
  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="fullName" class="sa-input"> Employee Name:</label>
      <mat-list-item for="fullName" >{{ incidentReportForm.value['firstName'] +" "+ incidentReportForm.value['lastName']}}</mat-list-item>  
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="incidentLocation" class="sa-input"> Location Of Incident: </label>
      <mat-list-item>{{ incidentReportForm.value.incidentLocation }}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="branch" class="sa-input"> Branch/Department:</label>
      <mat-list-item for="branch">{{ incidentReportForm.value['branch'] }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="dateOfEvent" class="sa-input"> Date Of Incident:</label>
      <mat-list-item>{{ incidentReportForm.value.dateOfEvent | date : "mediumDate"}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="contactNo" class="sa-input"> Contact NO.:</label>
      <mat-list-item for="contactNo" >{{ incidentReportForm.value.contactNo}}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="timeOfEvent" class="sa-input"> Time Of Incident:</label>
      <mat-list-item>{{ incidentReportForm.value.timeOfEvent}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="personReporting" class="sa-input"> Person Reporting: </label>
      <mat-list-item>{{ incidentReportForm.value.personReporting }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="witness" class="sa-input"> Witness:</label>
      <mat-list-item>{{ incidentReportForm.value.witness}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="supervisor" class="sa-input"> Supervisor:</label>
      <mat-list-item>{{ incidentReportForm.value.supervisor }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">  
      <label for="descriptionOfHappening" class="sa-input"> Description Of Incident:</label>
      <mat-list-item>{{ incidentReportForm.value.descriptionOfHappening}}</mat-list-item>
    </div>  
  </div> 
 

  <div class= "row">
    <div class="col-6 col-md-7 form-group"></div>
    <div class="col-6 col-md-4 form-group">
      <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="incidentReportForm"> 
        <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
        <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
        <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
      </div>
      
      <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="incidentReportForm"> 
        <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
        <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
        <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
      </div>
    </div>
  </div>
</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>
  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>
</div>
