<div class="container-fluid">

     <!-- breadcrumbs -->
     <div class="row">
      <div class="col-lg-12">
          <ol class="breadcrumb">
            <h1 class="title bg-light">{{title}}</h1>
          </ol>
      </div>
  </div>

  <div class="main-content" >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
  </div>
  <mat-horizontal-stepper (selectionChange)="getIndex($event)">
    
    <!-- CONTENT 1-->
   <mat-step label="General Information">
    
      <h2>Edit Information</h2>

       <div class="main-container">
        <!-- FULLNAME -->
        <mat-accordion class="example-headers-align" >
          <form [formGroup]="EmpInformation">
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="onClosePanel()" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <label>Name</label>
              </mat-panel-title>
              <mat-panel-description>
                <p class="blk">{{data.fname +" "+ data.mname +" "+ data.lname | titlecase}}</p>
     
                  <mat-icon>account_box</mat-icon>

              </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input formControlName="fname" matInput>
              </mat-form-field>
              <!-- <app-show-error [control]="EmpInformation.controls.Name.controls.fname"></app-show-error> -->

              <mat-form-field>
                <mat-label>Middle name</mat-label>
                <input formControlName="mname" matInput>
              </mat-form-field>
              <!-- <app-show-error [control]="EmpInformation.controls.Name.controls.mname"></app-show-error> -->

              <mat-form-field>
                <mat-label>Last name</mat-label>
                <input formControlName="lname" matInput>
              </mat-form-field>
              <!-- <app-show-error [control]="EmpInformation.controls.Name.controls.lname"></app-show-error> -->

              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.fname.invalid ||
                                                                                  EmpInformation.controls.mname.invalid ||
                                                                                  EmpInformation.controls.lname.invalid ">Save</button>
              </mat-action-row>
          </mat-expansion-panel>
        </form>  

           <!-- Address -->
           <mat-divider></mat-divider>
            <form [formGroup]="EmpInformation">
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label>Address</label>
                </mat-panel-title>
                <mat-panel-description>
                  <p class="blk">{{data.address}}</p>
       
                    <mat-icon>location_on</mat-icon>
  
                </mat-panel-description>
              </mat-expansion-panel-header>
                <mat-form-field style="width: 100%;"> 
                  <mat-label>Address</mat-label>
                  <input  formControlName="address" matInput>
                </mat-form-field>

                <mat-action-row>
                  <button mat-button color="warn" (click)="close()">Cancel</button>
                  <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.address.invalid">Save</button>
                </mat-action-row>
            </mat-expansion-panel>
          </form>  

          <!-- Contact No. -->
          <mat-divider></mat-divider>
        <form [formGroup]="EmpInformation"> 
          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" (closed)="onClosePanel()" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <label>Contact Number</label>
              </mat-panel-title>
           
              <mat-panel-description>
                <p class="blk">{{data.telno}}</p>
                <mat-icon>contact_phone</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <mat-label>Contact Number</mat-label>
              <input formControlName="telno" matInput>
            </mat-form-field>
            <app-show-error [control]="EmpInformation.controls.telno"></app-show-error>

            <mat-action-row>
              <button mat-button color="warn" (click)="close()">Cancel</button>
              <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.telno.invalid">Save</button>
            </mat-action-row>
          </mat-expansion-panel>
        </form>  

          <!-- Email Address -->
          <mat-divider></mat-divider>
          <form [formGroup]="EmpInformation"> 
            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label >Email Address</label>
                </mat-panel-title>
                <mat-panel-description>
                  <p class="blk">{{data.emaladd}}</p>
                  <mat-icon>contact_mail</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input type="email" formControlName="emaladd" matInput>
                
              </mat-form-field>
              <app-show-error [control]="EmpInformation.controls.emaladd"></app-show-error>

              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.emaladd.invalid">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>  

          <!-- Birthday -->
          <mat-divider></mat-divider>
          <form [formGroup]="EmpInformation"> 
            <mat-expansion-panel  [expanded]="step === 5" (opened)="setStep(5)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label >Birthday</label>
                </mat-panel-title>

                <mat-panel-description>
                  <p class="blk">{{data.bday | date : "mediumDate"}}</p>
                  <mat-icon>cake</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          

              <!-- <mat-form-field> -->
                <input type ="date" formControlName="bday" id="bday" value="{{ EmpInformation.value.bday | date:'yyyy-MM-dd' }}"/>
              <app-show-error [control]="EmpInformation.controls.bday" ></app-show-error>

              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.bday.invalid">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>  

          <!-- Gender -->
          <mat-divider></mat-divider>
          <form [formGroup]="EmpInformation"> 
            <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label >Gender</label>
                </mat-panel-title>
                <mat-panel-description>
                  <p class="blk">{{data.gender}}</p>
                  <mat-icon>face</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <mat-label>Gender</mat-label>
                <input formControlName="Gender" placeholder="Male or Female" matInput>
                
              </mat-form-field>
              <app-show-error [control]="EmpInformation.controls.Gender"></app-show-error>

              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.Gender.invalid">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>  

          <!-- Contact person -->
          <mat-divider></mat-divider>
          <form [formGroup]="EmpInformation"> 
            <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label >Contact Person</label>
                </mat-panel-title>

                <mat-panel-description>
                  <p class="blk">{{data.conperson}}</p>
                  <mat-icon>group_add</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          

              <mat-form-field>
                <mat-label>Emergency Contact Person</mat-label>
                <input type="conperson" formControlName="conperson" matInput>
                
              </mat-form-field>
              <app-show-error [control]="EmpInformation.controls.conperson"></app-show-error>

              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.conperson.invalid">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>  

          <!-- Number of Contact Person -->
          <mat-divider></mat-divider>
          <form [formGroup]="EmpInformation"> 
            <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label > Contact Number</label>
                </mat-panel-title>

                <mat-panel-description>
                  <p class="blk">{{data.conpersontelno}}</p>
                  <mat-icon>contact_phone</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          

              <mat-form-field>
                <mat-label>No. of Contact Person</mat-label>
                <input type="conpersontelno" formControlName="conpersontelno" matInput>
                
              </mat-form-field>
              <app-show-error [control]="EmpInformation.controls.conpersontelno"></app-show-error>

              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSave(EmpInformation.value)" [disabled]="EmpInformation.controls.conpersontelno.invalid">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>  

          <!-- Other Info -->
          <mat-divider></mat-divider>
          <form [formGroup]="changeInfoRequest"> 
            <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" (closed)="onClosePanel()" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label >Other Info</label>
                </mat-panel-title>

                <mat-panel-description>
                  <p class="blk">Employee Info</p>
                  <mat-icon>edit</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <h2>Employee Company Info</h2>
              <mat-divider></mat-divider>
              <div class="row 1" >
                <mat-form-field class="col-md-3 form-group">
                  <mat-label>Biometric #</mat-label>
                  <input formControlName="currentBiometricId" matInput readonly="true">
                </mat-form-field>
                <app-show-error [control]="changeInfoRequest.controls.currentBiometricId"></app-show-error>
              </div>

              <div class="form-row 2">

                <div class="col-md-4 form-group">
                  <label for="currentBranch">Branch</label>
                  <select formControlName="currentBranch" class=" col form-control" >
                    <!-- <option ></option> -->
                    <option *ngFor="let opt of branch" [value]="opt.id">{{opt.branch}} </option>
                  </select>
                </div>

                <div class="col-md-4 form-group">
                  <label for="currentDepartment">Department</label>
                  <select formControlName="currentDepartment" class="col form-control" >
                    <!-- <option ></option> -->
                    <option *ngFor="let opt of department" [value]="opt.id">{{opt.department}} </option>
                  </select>
                </div> 
  
                <div class="col-md-4  form-group">
                  <label for="currentPosition">Position</label>
                  <select formControlName="currentPosition" class=" col form-control" >
                    <!-- <option ></option> -->
                    <option *ngFor="let opt of position" [value]="opt.id">{{opt.position}} </option>
                  </select>
                </div>
              </div>
              <div class="row 3">
                
                <div class="col-md-3  form-group">
                  <label for="Company">Company</label>
                  <select formControlName="currentCompany" class="col form-control" >
                    <!-- <option ></option> -->
                    <option *ngFor="let opt of company" [value]="opt.id">{{opt.company}} </option>
                  </select>
                </div> 

                <div class="col-md-3 form-group">
                  <label for="currentEmpStatus">Employee Status</label>
                  <input id="currentEmpStatus" formControlName="currentEmpStatus" class="col form-control">
                </div>
          
                <div class="col-md-3 form-group">
                  <label for="currentHiringDate">Hiring Date</label>
                  <input type="date"id="currentHiringDate" formControlName="currentHiringDate" value="{{ changeInfoRequest.value.currentHiringDate | date:'yyyy-MM-dd' }}"class="col form-control">
                </div>

                <div class="col-md-3 form-group">
                  <label for="currentDateStart">Date Start</label>
                  <input type="date"id="currentDateStart" formControlName="currentDateStart" value="{{ changeInfoRequest.value.currentDateStart | date:'yyyy-MM-dd' }}" class="col form-control">
                </div>

              </div>
              <h2>Additionnal Information</h2>
              <mat-divider></mat-divider>
              <div class="row 4">
                <div class="col-md-5 form-group">
                  <label for="currentEducAttain">Education Attainment</label>
                  <input id="currentEducAttain" formControlName="currentEducAttain" class="col form-control">
                </div>
              </div>

              <div class="row 5">
                <div class="col-md-4 form-group">
                  <label for="currentSchoolName">School Name</label>
                  <input id="currentSchoolName" formControlName="currentSchoolName" class="col form-control">
                </div>

                <div class="col-md-4 form-group">
                  <label for="currentCourse">Course</label>
                  <input id="currentCourse" formControlName="currentCourse" class="col form-control">
                </div>

                <div class="col-md-4 form-group">
                  <label for="currentAttendYr">Year Attended</label>
                  <input id="currentAttendYr" formControlName="currentAttendYr" class="col form-control">
                </div>
              </div>

              <div class="row 5">
                <div class="col-md-3 form-group">
                  <label for="currentSssNo">Sss No</label>
                  <input id="currentSssNo" formControlName="currentSssNo" class="col form-control">
                </div>

                <div class="col-md-3 form-group">
                  <label for="currentPagibigNo">Pagibig No</label>
                  <input id="currentPagibigNo" formControlName="currentPagibigNo" class="col form-control">
                </div>

                <div class="col-md-3 form-group">
                  <label for="currentTinNo">Tin No</label>
                  <input id="currentTinNo" formControlName="currentTinNo" class="col form-control">
                </div>

                <div class="col-md-3 form-group">
                  <label for="currentPhilHealthNo">PhilHealth No</label>
                  <input id="currentPhilHealthNo" formControlName="currentPhilHealthNo" class="col form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="reason">Reason</label>
                  <input id="Regstatus" formControlName="reason" class="col form-control">
                </div>
              </div>


              <mat-action-row>
                <button mat-button color="warn" (click)="close()">Cancel</button>
                <button mat-button color="primary" (click)="onSubmit(changeInfoRequest.value)" [disabled]="changeInfoRequest.invalid">Submit</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>  
        </mat-accordion>
     

      </div>
     <!-- </form>   -->
     <div class="float-right">
       <button mat-button matStepperNext>Next</button>
     </div>
   </mat-step>


   <!-- Account Information  -->
   <mat-step label="Account Information">
    <h2>Edit Information</h2>
      <!-- Access -->
      <mat-accordion class="example-headers-align">
        <form [formGroup]="userForm">
        <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" (closed)="onClosePanel()" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <label>Access</label>
            </mat-panel-title>
            <mat-panel-description>
              <p class="blk">{{userData.access}}</p>
   
                <mat-icon>vpn_key</mat-icon>

            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </form>  

         <!-- Status -->
         <mat-divider></mat-divider>
          <form [formGroup]="userForm">
          <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11)" (closed)="onClosePanel()" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <label>Status</label>
              </mat-panel-title>
              <mat-panel-description>
                <p class="blk">{{userData.status}}</p>
     
                  <mat-icon>group</mat-icon>

              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </form>  

        <!-- Username -->
        <mat-divider></mat-divider>
      <form [formGroup]="userForm"> 
        <mat-expansion-panel [expanded]="step === 12" (opened)="setStep(12)" (closed)="onClosePanel()" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <label>Username</label>
            </mat-panel-title>
         
            <mat-panel-description>
              <p class="blk">{{userData.username}}</p>
              <mat-icon>account_box</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </form>  

        <!-- Password -->
        <mat-divider></mat-divider>
        <form [formGroup]="userForm"> 
          <mat-expansion-panel [expanded]="step === 13" (opened)="setStep(13)" (closed)="onClosePanel()" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <label>Password</label>
              </mat-panel-title>
              <mat-panel-description>
                <p class="blk" type="password" ></p>
                <mat-icon>lock</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            
            <div [formGroup]="userForm.controls.passwords">
              <div>
                <mat-form-field>
                  <mat-label>New Password</mat-label>
                  <input [type]="hidePassword ? 'password' : 'text'" formControlName="Password" matInput>
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <!-- <app-show-error [control]="userForm.controls.passwords.controls.Password"></app-show-error> -->
              </div>

              <div>
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input [type]="hideCPassword ? 'password' : 'text'" formControlName="ConfirmPassword" matInput>
                  <button mat-icon-button matSuffix (click)="hideCPassword = !hideCPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hideCPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <!-- <app-show-error [control]="userForm.controls.passwords.controls.ConfirmPassword"></app-show-error> -->
              </div>
            </div>
            <app-show-error [control]="userForm.controls.passwords"></app-show-error>

            <mat-action-row>
              <button mat-button color="warn" (click)="close()">Cancel</button>
              <button mat-button color="primary" (click)="onSave(userForm.value)" [disabled]="userForm.controls.passwords.invalid">Save</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
        </form>  
  





      </mat-accordion>
   </mat-step>
 </mat-horizontal-stepper>


  </div>
</div>