
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Maintenance Request</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">

    
    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="fullName" class="sa-input"> Employee Name:</label>
        <mat-list-item for="fullName" >{{ maintenanceForm.value['firstName'] +" "+ maintenanceForm.value['lastName']}}</mat-list-item>  
      </div>

      <div class="col-6 col-md-4 form-group">
        <label for="emailAddress" class="sa-input"> Email Address:</label>
        <mat-list-item for="emailAddress">{{ maintenanceForm.value.emailAddress}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="branch" class="sa-input"> Branch/Department:</label>
        <mat-list-item for="branch">{{ maintenanceForm.value['branch'] }}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="natureOfWork" class="sa-input"> Nature Of Work</label>
        <mat-list-item for="natureOfWork">{{ maintenanceForm.value.natureOfWork}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="position" class="sa-input"> Position:</label>
        <mat-list-item for="position">{{ maintenanceForm.value['position'] }} </mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="dateNeeded" class="sa-input"> Date Needed:</label>
        <mat-list-item>{{ maintenanceForm.value.dateNeeded | date : "mediumDate"}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="contactNo" class="sa-input"> Contact NO.:</label>
        <mat-list-item for="contactNo" >{{ maintenanceForm.value.contactNo}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">  
        <label for="comment" class="sa-input"> Comments:</label>
        <mat-list-item>{{ maintenanceForm.value.comment}}</mat-list-item>
      </div>  
    </div>

 <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="dateCreated" class="sa-input"> Date Created:</label>
        <mat-list-item for="dateCreated">{{ maintenanceForm.value.dateCreated | date : "mediumDate"}}</mat-list-item>
      </div>

      <div class="col-6 col-md-4 form-group">
        <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="maintenanceForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
        
        <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="maintenanceForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
      </div>
    </div>
</div>

<div class= "row" *ngIf="maintenanceForm.value.imageName">
  <div class=" col-md-7 form-group">
    <img [src]="'assets/images/request-images/'+''+maintenanceForm.value.imageName" class="img img-fluid img-thumbnail" alt="Image not found" >
   
  </div>
</div>

<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{"Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons" >
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>
</div>
