<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid">

    <!-- breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <!-- <ol class="breadcrumb"> -->
                <h1>Dashboard</h1>
            <!-- </ol> -->
        </div>
    </div>
    
    
    <!-- items / cards -->

    <div class="request-forms" *ngIf="isHr()">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row" >
                            <div class="col-xs-3" >
                                <mat-icon style="font-size: 70px">wb_sunny</mat-icon>
                                
                            </div>
                            <div class="col-xs-5 dh-title2"> <a routerLink="/admin/leave-request">&nbsp; Leave&nbsp;Request  &nbsp;</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{leaveRequest.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{leaveRequest.pending ? leaveRequest.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{leaveRequest.accept ? leaveRequest.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{leaveRequest.cancelled ? leaveRequest.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{leaveRequest.approved ? leaveRequest.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6" >
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">watch_later</mat-icon>    
                            </div>
                            <div class="col-xs-5 dh-title2"> <a routerLink="/admin/request-ot">Request&nbsp;Overtime</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{overtime.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{overtime.pending ? overtime.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{overtime.accept ? overtime.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{overtime.cancelled ? overtime.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{overtime.approved ? overtime.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" >
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">business</mat-icon>
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/official-business"> Official&nbsp;Business</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{officialBusiness.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{officialBusiness.pending ? officialBusiness.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{officialBusiness.accept ? officialBusiness.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{officialBusiness.cancelled ? officialBusiness.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{officialBusiness.approved ? officialBusiness.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
    
             <div class="col-lg-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">local_hospital</mat-icon>
                                
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/incident-report">&nbsp; Incident&nbsp;Report &nbsp;</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{incidentReport.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{incidentReport.pending ? incidentReport.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{incidentReport.accept ? incidentReport.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{incidentReport.cancelled ? incidentReport.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{incidentReport.approved ? incidentReport.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" class="row" >
            <div class="col-lg-6 col-md-offset-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">how_to_vote</mat-icon>
                                
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/suggestion-box">Suggestion&nbsp;Box</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{suggestionBox.length}}</p>
                                    <p class="sub-text2">All Suggestions</p>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <!-- <div>
                                    <p class="huge d-quantity">{{0}}</p>
                                    <p class="sub-text2">pcs</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="purchase-forms" *ngIf="!isHr()">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row" >
                            <div class="col-xs-3" >
                                <mat-icon style="font-size: 70px">shopping_cart</mat-icon>
                                
                            </div>
                            <div class="col-xs-5 dh-title2"> <a routerLink="/admin/pf-purchase-req">&nbsp; Purchase&nbsp;Request  &nbsp;</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{purchaseRequest.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{purchaseRequest.pending ? purchaseRequest.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{purchaseRequest.accept ? purchaseRequest.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{purchaseRequest.cancelled ? purchaseRequest.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{purchaseRequest.approved ? purchaseRequest.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6" >
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">store</mat-icon>    
                            </div>
                            <div class="col-xs-5 dh-title2"> <a routerLink="/admin/pf-uniform-req">Uniform&nbsp;Request</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{uniformRequest.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{uniformRequest.pending ? uniformRequest.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{uniformRequest.accept ? uniformRequest.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{uniformRequest.cancelled ? uniformRequest.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{uniformRequest.approved ? uniformRequest.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" >
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">credit_card</mat-icon>
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/pf-businessCard-req"> Business&nbsp;Card</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{businessCard.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{businessCard.pending ? businessCard.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{businessCard.accept ? businessCard.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{businessCard.cancelled ? businessCard.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{businessCard.approved ? businessCard.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
    
             <div class="col-lg-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">book</mat-icon>
                                
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/pf-booklet-req">&nbsp; Booklet&nbsp;Request &nbsp;</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{bookletRequest.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{bookletRequest.pending ? bookletRequest.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{bookletRequest.accept ? bookletRequest.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{bookletRequest.cancelled ? bookletRequest.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{bookletRequest.approved ? bookletRequest.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="row" >
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">settings_applications</mat-icon>
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/pf-maintenance-req"> Maintenance&nbsp;Request</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{maintenanceRequest.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{maintenanceRequest.pending ? maintenanceRequest.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{businessCard.accept ? businessCard.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{maintenanceRequest.cancelled ? maintenanceRequest.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{maintenanceRequest.approved ? maintenanceRequest.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
    
             <div class="col-lg-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-icon style="font-size: 70px">next_week</mat-icon>
                                
                            </div>
                            <div class="col-xs-5 dh-title2"><a routerLink="/admin/pf-marketing-material-req">&nbsp; Marketing&nbsp;Request &nbsp;</a></div>
                            <div class="text-center">
                                <div>
                                    <p class="huge d-quantity">{{marketingRequest.length}}</p>
                                    <p class="sub-text2">All Requests</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{marketingRequest.pending ? marketingRequest.pending: 0}}</p>
                                        <p class="sub-text2">Pending </p>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-2 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{marketingRequest.accept ? marketingRequest.accept: 0 }}</p>
                                        <p class="sub-text2">Accepted </p>
                                    </div>
                                </div> -->
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{marketingRequest.cancelled ? marketingRequest.cancelled: 0}}</p>
                                        <p class="sub-text2">Cancelled </p>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div>
                                        <p class="huge d-quantity">{{marketingRequest.approved ? marketingRequest.approved: 0}}</p>
                                        <p class="sub-text2">Approved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  



</div>
<!-- /.container-fluid -->
