  <div class="content">
    
    <h1>Form Request List - {{title}}</h1>
    <mat-tab-group (selectedTabChange)="onTabChanged($event);">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">done</mat-icon>
            Approve Request - Head/OIC
          </ng-template>
          
          <div class="row" [formGroup]="filter">
            <div class="col-6 col-md-7 form-group">
    
                <label for="DateFrom">Date From <span class="ic-red"></span>:</label>
                <div>
                  <input type="date" [value]="filter.value['DateFrom']" (change)="getFilterStatusTab0($event, 'date')" formControlName="DateFrom" id="DateFrom" />
                </div>
    
                <label for="DateTo">Date To <span class="ic-red"></span>:</label>
                <div>
                  <input type ="date" [value]="filter.value['DateTo']" (change)="getFilterStatusTab0($event, 'date')" formControlName="DateTo" id="DateTo" />
                </div>
                <input type ="button" class="btn btn-outline-primary"  [value]="filter.value.OrderType" (click) ="sortByDate(filter.value.OrderType)"/>
                <input type ="button" class="btn btn-outline-danger"  value="Reset Date Filter" (click) ="resetFilter()"/>
             </div>
    
              <mat-form-field  class="float-right col-6 col-md-5 form-group form-field-status" appearance="fill">
                <mat-label>Filter Status</mat-label>
                <mat-select #filterStatus  (change)="getFilterStatusTab0($event, 'status')" value="Pending">
                  <mat-option>-- All --</mat-option>
                  <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                </mat-select>
              </mat-form-field>
           </div>
    
          <div class="panel-body">
            <div class="table-responsive table-bordered  table-striped">
              <table class="table">
                <thead>
                    <tr>
                        <th>FULLNAME</th>
                        <th>DATE CREATED</th>
                        <th>BRACH/DEPARTMENT</th>
                        <th>EMAIL ADDRESS</th>
                        <th>WORK LOCATION</th>
                        <th>DATE OF ACTIVITY</th>
                        <th>CONTACT PERSON</th>
                        <th>PURPOSE</th>
                        <th *ngIf="filterStatus.value != 'Pending' || isDateFilter">APPROVED BY</th>
                        <th>REQUEST  STATUS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let list of OfficialBusinessData.tab0">
                        <td>{{list.firstName +" "+ list.lastName}}</td>
                        <td>{{list.dateCreated | date : "mediumDate"}}</td>
                        <td>{{list.branch +"/"+list.department}}</td>
                        <td>{{list.emailAddress}}</td>
                        <td>{{list.workLocationName}}</td>
                        <td>{{list.dateOfActivity | date : "mediumDate"}}</td>
                        <td>{{list.contactPerson}}</td>
                        <td>{{list.purpose}}</td>
                        <td *ngIf="list.status != 'Pending' || filterStatus.value == null || isDateFilter">{{list.approvedBy}}</td> 
                        <td>{{list.status}}</td>
                        <td> 
                          <button class="btn btn-info" (click)="openDialog(list.id, 'Accept', list.status)">{{list.status == 'Pending' ? 'Update' : 'Details'}}</button>
                        </td>
                    </tr>     
                </tbody>
              </table>    
            </div>
          </div>
    
        </mat-tab>
      
        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">done_all</mat-icon>
             Management
          </ng-template>
          
          <div class="row">
            <span class="col" style="margin-top: 13px;"><h3>Approve Request</h3></span>
  
            <div class="col-6 filter-btn">
              <mat-form-field  class="float-right form-field-status" appearance="fill">
                <mat-label>Filter Status</mat-label>
                <mat-select #filterStatus  (change)="getFilterStatusTab1($event)" value="Accept">
                  <mat-option>-- All --</mat-option>
                  <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
    
          <div class="panel-body">
            <div class="table-responsive table-bordered  table-striped">
              <table class="table">
                <thead>
                    <tr>
                        <th>FULLNAME</th>
                        <th>DATE CREATED</th>
                        <th>BRACH/DEPARTMENT</th>
                        <th>EMAIL ADDRESS</th>
                        <th>CONTACT PERSON</th>
                        <th>PURPOSE</th>
                        <th>REQUEST  STATUS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let list of OfficialBusinessData.tab1">
                        <td>{{list.firstName +" "+ list.lastName}}</td>
                        <td>{{list.dateCreated | date : "mediumDate"}}</td>
                        <td>{{list.branch +"/"+list.department}}</td>
                        <td>{{list.emailAddress}}</td>
                        <td>{{list.contactPerson}}</td>
                        <td>{{list.purpose}}</td>
                        <td>{{list.status}}</td>
                        <td> 
                          <button class="btn btn-info" (click)="openDialog(list.id, 'Approve', list.status)">{{list.status == 'Pending' ? 'Update' : 'Details'}}</button>
                        </td>
                    </tr>     
                </tbody>
             </table>    
            </div>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    
    </div>
    