<div class="container">
  <div>

      </div>
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
              <div class="panel-body">
                  <div class="form-group">
                      <div class="m-logo">
                          <img src="assets/images/logoX130.png"> 
                      </div>
                      <mat-spinner class="login-spinner" *ngIf="isLoading" [diameter]="25" ></mat-spinner>
                  </div>
                  
                 
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      {{ loginForm.controls.value | json }}
                      <fieldset>
                          <div class="alert alert-danger" style="text-align: center" *ngIf="errorMessage">
                              <p>  {{ errorMessage}} </p>
                          </div>

                          <!-- <div class="alert alert-danger" *ngIf="errorMessage2">
                                  <p *ngFor="let err of errorMessage2"> {{ err }} </p>
                              </div> -->
                          <div class="form-group">
                               <input formControlName="username" class="form-control login-input" placeholder="Username" name="username" type="text" autofocus> 
                          </div>
                          <div class="form-group">
                              <input formControlName="password"  class="form-control login-input" placeholder="Password" name="password" type="password">
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input name="remember" type="checkbox" value="Remember Me">Remember Me
                              </label>
                          </div>
                          <!-- Change this to a button or input when using this as a form -->
                          <button type="submit" class="btn btn-lg btn-primary btn-block" > Login</button>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
