.cdk-overlay-pane.my-dialog {
    position: relative!important;
  }

 
  .close.mat-button {
    float: right;
    top:-24px;
    right:-24px;
  }
  @media (max-width: 480px) {
    .content{
  
      width: 230px;
      height: 600px;
      overflow: auto;
    }
  }