
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Leave request</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">

    
    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="fullName" class="sa-input"> Employee Name:</label>
        <mat-list-item for="fullName" >{{ requestLeaveForm.value['firstName'] +" "+ requestLeaveForm.value['lastName']}}</mat-list-item>  
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="period" class="sa-input"> Date Period:</label>
        <mat-list-item *ngFor="let item of datePeriod">{{ requestLeaveForm.value.period== item.value ? item.name : null}}</mat-list-item>
     </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="branch" class="sa-input"> Branch/Department:</label>
        <mat-list-item for="branch">{{ requestLeaveForm.value['branch'] }}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="dateFrom" class="sa-input"> Date From:</label>
        <mat-list-item>{{ requestLeaveForm.value.dateFrom | date : "mediumDate" }}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="biometricId" class="sa-input"> BiometricNO:</label>
        <mat-list-item for="biometricId">{{ requestLeaveForm.value['biometricId'] }} </mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="dateTo" class="sa-input"> Date To:</label>
        <mat-list-item>{{ requestLeaveForm.value.dateTo | date : "mediumDate" }}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="contactNo" class="sa-input"> Contact NO.:</label>
        <mat-list-item for="contactNo" >{{ requestLeaveForm.value.contactNo}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="reason" class="sa-input"> Reason For Leave:</label>
        <mat-list-item>{{ requestLeaveForm.value.reason}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="emailAddress" class="sa-input"> Email Address:</label>
        <mat-list-item for="emailAddress">{{ requestLeaveForm.value.emailAddress}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">  
        <label for="comment" class="sa-input"> Comments:</label>
        <mat-list-item>{{ requestLeaveForm.value.comment}}</mat-list-item>
      </div>  
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="leaveType" class="sa-input"> Leave Type:</label>
        <mat-list-item for="leaveType">{{ requestLeaveForm.value.leaveType}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <!-- <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="requestLeaveForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
        </div> -->
        
        <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="requestLeaveForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending'|| successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
      </div>
    </div>
</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <!-- <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div> -->

  <div *ngIf="actStatus == 'Approve'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Approved" : "Approved"}}</button>
    </div>
  </div>
</div>
