.video-content{
    margin-top: 20px;
    margin-bottom: 100px;
}

@media (max-width: 480px) {
    .blk{
      color: #000;
      width: 200px;
      /* overflow: hidden; */
      text-overflow: ellipsis;
      /* white-space: nowrap; */
    }
  }