<div class="container-fluid">

  <!-- breadcrumbs -->
  <div class="row">
   <div class="col-lg-12">
       <ol class="breadcrumb">
         <h1 class="title bg-light">{{title}}</h1>
         <!-- <p class="mb-0">
          The objective of this document is to determine as many questions as possible that our user (FC employee) might have.
          </p> -->
       </ol>
   </div>
</div>

<div class ="main-content">

  

  <div class="container">

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" class="example-tab-icon">info</mat-icon>
          FAQs
        </ng-template>
            <h2>Features</h2>

            <mat-divider></mat-divider>
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel *ngFor="let item of faqsData">
                
                <mat-expansion-panel-header> 
                  <mat-panel-title class="blk">
                    <p> {{"Q: "+item.questions}}</p>
                    <mat-divider></mat-divider>
                  </mat-panel-title>
                </mat-expansion-panel-header>
        
                <p> {{"A: "+item.answers}}</p>
              </mat-expansion-panel>
            </mat-accordion>

      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" class="example-tab-icon">announcement</mat-icon>
          Video Tutorial
        </ng-template>

        <div class="video-content">
         
          <h2> FC Employee Portal</h2>
          <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 40px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NiSZJc8rkdY"></iframe>
          </div>

          <h2> FC Employee Portal (Extended)</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/38kPyTt4_Cc"></iframe>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>



    <mat-divider></mat-divider>





  </div>

</div>