<div class="content">
  
  <h1>Form Request List - {{title}}</h1>
  <mat-tab-group (selectedTabChange)="onTabChanged($event);">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">done</mat-icon>
          Approve Request - Head/OIC
        </ng-template>
        
        <div class="filter-btn">
          <mat-form-field  class="float-right form-field-status" appearance="fill">
            <mat-label>Filter Status</mat-label>
            <mat-select #filterStatus  (change)="getFilterStatusTab0($event)" value="Pending">
              <mat-option>-- All --</mat-option>
              <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="panel-body">
          <div class="table-responsive table-bordered  table-striped">
            <table class="table">
              <thead>
                  <tr>
                      <th>FULLNAME</th>
                      <th>DATE CREATED</th>
                      <th>BRACH</th>
                      <th>DEPARTMENT</th>
                      <th>POSITION</th>
                      <th>COMPANY</th>
                      <th>BIO ID</th>
                      <th>REASON</th> 
                      <th *ngIf="filterStatus.value != 'Pending'">APPROVED BY</th>
                      <th>STATUS</th>
              </thead>
              <tbody>
                  <tr *ngFor="let list of changeInfoReqData.tab0">
                      <td>{{list.firstName +" "+ list.lastName}}</td>
                      <td>{{list.dateCreated | date : "mediumDate"}}</td>
                      <td>
                        {{list.currentBranch == list.newBranch ? "No Changes Made" : "Has been Changed"}}
                        <!-- <div *ngFor="let item of branch">{{list.currentBranch == item.value ? item.name +" /": null }}</div>
                        <div *ngFor="let item of branch">{{list.newBranch  == item.value ? item.name : null }}</div> -->
                      </td>
                      <td>
                        {{list.currentDepartment == list.newDepartment ? "No Changes Made" : "Has been Changed"}}
                        <!-- <div *ngFor="let item of department">{{list.currentDepartment == item.value ? item.name +" /": null }}</div>
                        <div *ngFor="let item of department">{{list.newDepartment  == item.value ? item.name : null }}</div> -->
                      </td>
                      <td>
                        {{list.currentPosition == list.newPosition ? "No Changes Made" : "Has been Changed"}}
                        <!-- <div *ngFor="let item of position">{{list.currentPosition == item.value ? item.name +" /": null }}</div>
                        <div *ngFor="let item of position"> {{list.newPosition  == item.value ? item.name : null }}</div> -->
                      </td>
                      <td>
                        {{list.currentCompany == list.newCompany ? "No Changes Made" : "Has been Changed"}}
                        <!-- <div *ngFor="let item of company">{{list.currentCompany == item.value ? item.name +" /": null }}</div>
                        <div *ngFor="let item of company">{{list.newCompany  == item.value ? item.name : null }}</div> -->
                      </td>
                      <td>{{list.currentBiometricId == list.newbiometricId ? "No Changes Made" : "Has been Changed" }}</td>
                      <td>{{list.reason}}</td>    
                      <td *ngIf="list.status != 'Pending' || filterStatus.value == null">{{list.adminApproval}}</td> 
                      <td>{{list.status}}</td>
                      <td> 
                        <button class="btn btn-info" (click)="openDialog(list.id, 'Accept', list.status)">{{list.status == 'Pending' ? 'Update' : 'Details'}}</button>
                      </td>
                  </tr>     
              </tbody>
            </table>    
          </div>
        </div>
  
      </mat-tab>
    
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">done_all</mat-icon>
            Management
        </ng-template>

        <div class="row">
          <span class="col" style="margin-top: 13px;"><h3>Approve Request</h3></span>

          <div class="col-6 filter-btn">
            <mat-form-field  class="float-right form-field-status" appearance="fill">
              <mat-label>Filter Status</mat-label>
              <mat-select #filterStatus  (change)="getFilterStatusTab1($event)" value="Accept">
                <mat-option>-- All --</mat-option>
                <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

  
        <div class="panel-body">
          <div class="table-responsive table-bordered  table-striped">
            <table class="table">
              <thead>
                  <tr>
                      <th>FULLNAME</th>
                      <th>DATE CREATED</th>
                      <th>BRACH/DEPARTMENT</th>
                      <th>PERSON REPORTING</th>
                      <th>LOCATION</th>
                      <th>DESCRIPTION</th> 
                      <th>REQUEST  STATUS</th>
              </thead>
              <tbody>
                  <tr *ngFor="let list of changeInfoReqData.tab1">
                      <td>{{list.firstName +" "+ list.lastName}}</td>
                      <td>{{list.dateCreated | date : "mediumDate"}}</td>
                      <td>{{list.branch +"/"+list.department}}</td>
                      <td>{{list.personReporting}}</td>
                      <td>{{list.incidentLocation}}</td>
                      <td>{{list.descriptionOfHappening}}</td>    
                      <td>{{list.status}}</td>
                      <td> 
                        <button class="btn btn-info" (click)="openDialog(list.id, 'Approve', list.status)">{{list.status == 'Pending' ? 'Update' : 'Details'}}</button>
                      </td>
                  </tr>     
              </tbody>
           </table>       
          </div>
        </div>
      </mat-tab> -->
    </mat-tab-group>
  
  </div>
    