<div class="content">

    <h1 class="title bg-light">{{title}}</h1>

    <div class="main-content"  >
      <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
        <p>  {{ successMessage }} </p>
     </div>
      <mat-horizontal-stepper (selectionChange)="getIndex($event)">
      
         <!-- CONTENT 1-->
        <mat-step label="Step 1" *ngIf="false"> 
          <form [formGroup]="purchaseRequestForm">
  
            <h2>Employee Information</h2>
          
            <div class="form-group">
              <label for="fullName">Employee Name</label>
              <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
              <app-show-error [control]="purchaseRequestForm.controls.fullName"></app-show-error>
            </div>
  
            <div class="form-group">
              <label for="branch">Branch/Department</label>
              <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
              <app-show-error [control]="purchaseRequestForm.controls.branch"></app-show-error>
            </div>
  
            <div class="form-group">
              <label for="biometricId">Biometric ID#</label>
              <input id="biometricId" formControlName="biometricId" class="form-control" [attr.disabled]="true">
              <app-show-error [control]="purchaseRequestForm.controls.biometricId"></app-show-error>
            </div>
  
            <div class="form-group">
              <label for="contactNo">Contact Number</label>
              <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
              <app-show-error [control]="purchaseRequestForm.controls.contactNo"></app-show-error>
            </div>
  
            <div class="form-group">
              <label for="emailAddress">Email Address</label>
              <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
              <app-show-error [control]="purchaseRequestForm.controls.emailAddress"></app-show-error>
            </div>   
  
          </form>  
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
  
  
        <!-- CONTENT 2 -->
        <mat-step label="Step 1">
          <form [formGroup]="purchaseRequestForm">
            <h2>Request Breakdown</h2>
  
            <!-- <mat-form-field appearance="fill" style="width: 50%;">
              <mat-label>Approver</mat-label>
              <mat-select formControlName="approver" 
              matTooltip="Select, If the Approver is not Admin"
              matTooltipPosition="after">
                <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                  <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                    {{opt.fullName +" - "+ opt.department}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field  style="width: 50%;">
              <mat-label>Approver</mat-label>
              <input  value="Anna Isabel Ferrer" matInput [readonly]="true">        
            </mat-form-field>
  
            
            <div class="row">
                  <div class="col form-group" *ngIf="!isMaintenancePR">
                    <label for="purchaseType">Purchase Type<span class="ic-red">*</span>:</label>
                    <select class="form-control" id="purchaseType" placeholder="Select Request Type" formControlName="purchaseType">
                        <option></option>
                        <option *ngFor="let opt of purchaseRequest" value="{{opt.name}}">{{opt.name}} </option>
                    </select>
                    <app-show-error [control]="purchaseRequestForm.controls.purchaseType"></app-show-error>
                  </div>

                  <div class="col form-group" *ngIf="isMaintenancePR">
                    <label for="purchaseType">Purchase Type<span class="ic-red">*</span>:</label>
                    <input  id="purchaseType" formControlName="purchaseType" placeholder="" class="form-control" [attr.disabled]="true">
                    <app-show-error [control]="purchaseRequestForm.controls.purchaseType"></app-show-error>
                  </div>
        
                  <div class="col form-group">
                    <label for="Purpose">Purpose<span class="ic-red">*</span>:</label>
                    <input  id="Purpose" formControlName="purpose" placeholder="Purpose of Request" class="form-control" >
                    <app-show-error [control]="purchaseRequestForm.controls.purpose"></app-show-error>
                  </div>

            </div>

            <div class="row">

                <div class="col form-group" *ngIf="isHrAcc">
                  <label for="requestingParty">Requesting&nbsp;Party<span class="ic-red">*</span>:</label>
                  <input  id="requestingParty" formControlName="requestingParty" placeholder="Optional" class="form-control" 
                  matTooltip="Please write the name of the third party involved in this request such as the Electrician in the Maintenance Group or others">
               </div>

               <div class="col form-group" *ngIf="!isHrAcc">
                <label for="branchRequest">Branch&nbsp;Request<span class="ic-red">*</span>:</label>
                <select class="form-control" id="branchRequest" placeholder="Select Branch Request" formControlName="branchRequest">
                  <option></option>
                  <option *ngFor="let opt of branch" value="{{opt.branch}}">{{opt.branch}} </option>
                </select>
                <app-show-error [control]="purchaseRequestForm.controls.branchRequest"></app-show-error>
             </div>

               <div class="col form-group">
                <label for="comment">Questions/Comments:</label>
                <textarea class="form-control" formControlName="comment"rows="1" id="comment"></textarea>
              </div>
              
            </div>


            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <div class="col form-group">
                            <label for="" >Item<span class="ic-red">*</span>:</label>
                                <input list="prevItem" type="text" class="form-control" id="item" formControlName="item" autocomplete="off" >
                                <datalist id="prevItem">
                                  <option *ngFor="let item of prevOrderItem" [value]="item">
                                </datalist>
                                <app-show-error [control]="purchaseRequestForm.controls.item"></app-show-error>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col form-group">
                            <label for="" >Description<span class="ic-red">*</span>:</label>
                                <input  type="text"   class="form-control" id="itemDesc" formControlName="itemDesc">
                                <app-show-error [control]="purchaseRequestForm.controls.itemDesc"></app-show-error>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                      <div class="col form-group">
                        <label for="unitMeasure">Unit Measure<span class="ic-red">*</span>:</label>
                        <input  id="unitMeasure" formControlName="unitMeasure" placeholder="Pcs, Box, etc"class="form-control" >
                        <app-show-error [control]="purchaseRequestForm.controls.unitMeasure"></app-show-error>
                      </div>
                    </div>

                    <div class="col-md-2">
                            <div class="col form-group">
                                <label for="quantity" >Quantity<span class="ic-red">*</span>:</label>
                                <input  onlyNumber type="number"  class="form-control" id="quantity" formControlName="quantity">
                                <app-show-error [control]="purchaseRequestForm.controls.quantity"></app-show-error>
                            </div>
                    </div>

                        <div class="col-md-2">
                            <div class="form-group row form_code  " style="margin-top: 23px;" formArrayName="orderItems">
                                <input type="button" name="" class="btn btn-primary" value="Add" (click)="AddItem($event)" 
                                [disabled]="purchaseRequestForm.controls.item.invalid ||
                                            purchaseRequestForm.controls.itemDesc.invalid  ||
                                            purchaseRequestForm.controls.unitMeasure.invalid  ||
                                            purchaseRequestForm.controls.quantity.invalid ">
                            </div>
                        </div>
                  </div>
            </div>

           
          <div *ngIf="purchaseRequestForm.controls.orderItems.value[0]">
              <h2>Order Items</h2>
              <div class="panel-body" style="background: rgb(240, 240, 240);">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Description</th>
                                <th>Unit Measure</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of orderItems; let i=index">
                                <td> {{ item.item }} </td>
                                <td> {{ item.itemDesc }} </td>
                                <td> {{ item.unitMeasure }} </td>
                                <td> {{ item.quantity }} </td>

                                <td class="td-actions text-center">
                                    <button type="button" class="btn btn-danger btn-simple btn-xs" (click)="deleteRow(i)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>   
          </div>   
   
                
            

  
          </form>
  
            <div>
              <button mat-button matStepperPrevious >Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
  
  
         <!-- CONTENT 3 -->
        <mat-step label="Step 2">
          <h2>Confirm Information</h2>
  
  
  
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <b> Personal data </b>
                </mat-panel-title>
                <mat-panel-description>
                   Basic Information
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
  
                <mat-list>
                  <mat-list-item for="fullName">Employee Name:</mat-list-item><span id="fullName" style="margin-left: 15%;">{{purchaseRequestForm.value.fullName}}</span>
                  <mat-divider></mat-divider>
                  <mat-list-item for="branch">Branch/Department:</mat-list-item><span id="branch" style="margin-left: 15%;">{{purchaseRequestForm.value.branch_Dept}}</span>
                  <mat-divider></mat-divider>
                  <mat-list-item for="biometricId">Biometric ID:  </mat-list-item><span id="biometricId" style="margin-left: 15%;">{{purchaseRequestForm.value.biometricId}}</span>
                  <mat-divider></mat-divider>
                  <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{purchaseRequestForm.value.contactNo}}</span> 
                  <mat-divider></mat-divider>
                  <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{purchaseRequestForm.value.emailAddress}}</span> 
                </mat-list>
  
  
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="true"
                                 (closed)="false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Form Data</b>
                </mat-panel-title>
                <mat-panel-description>
                   Data Confirmation
                  <mat-icon>map</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-list>
                <mat-list-item class="md-display-1"> Purchase Request Type: </mat-list-item><span id="purchaseType" style="margin-left: 15%;">{{purchaseRequestForm.value.purchaseType}}</span>
                <mat-divider></mat-divider>
                <mat-list-item> Purpose:  </mat-list-item><span id="purpose" style="margin-left: 15%;">{{purchaseRequestForm.value.purpose}}</span>
                <mat-divider></mat-divider>
                <mat-list-item *ngIf="isHrAcc"> Requesting Party:  </mat-list-item><span id="requestingParty" style="margin-left: 15%;">{{purchaseRequestForm.value.requestingParty}}</span>
                <mat-list-item *ngIf="!isHrAcc"> Branch Request:  </mat-list-item><span id="branchRequest" style="margin-left: 15%;">{{purchaseRequestForm.value.branchRequest}}</span>
                <mat-divider></mat-divider>
                <mat-list-item> Comments:  </mat-list-item><span id="comment" style="margin-left: 15%;"> {{purchaseRequestForm.value.comment}}</span>
                <mat-divider></mat-divider>   

                <mat-list-item> Ordered Items:  </mat-list-item>
                <div class="panel-body">
                  <div class="table-responsive">
                    
                      <table class="table table-striped table-hover">
                          <thead>
                              <tr>
                                  <th>Item Name</th>
                                  <th>Description</th>
                                  <th>UnitMeasure</th>
                                  <th>Quantity</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr *ngFor="let item of orderItems; let i=index">
                                  <td> {{ item.item }} </td>
                                  <td> {{ item.itemDesc }} </td>
                                  <td> {{ item.unitMeasure }} </td>
                                  <td> {{ item.quantity }} </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>    
              </div>  
              </mat-list>
  
              
            </mat-expansion-panel>
          </mat-accordion>
  
          <div style="margin: 20px;">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button (click)="onSubmit(purchaseRequestForm.value)" [disabled]="purchaseRequestForm.invalid || orderItems.length == 0 ">Submit</button>
          </div>
        </mat-step>
  
      </mat-horizontal-stepper>
  
    </div>
  </div>
