#info {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
  }
  
  #info td, #info th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
  }
  
  #info tr:nth-child(even){background-color: #f2f2f2;}
  
  #info tr:hover {background-color: #ddd;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #faf6f6;
    color: rgb(10, 10, 10);
    cursor: pointer;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  #prLabel {
    color: #fa0707;

  }