<div class="content" style="margin: 20px;">


  <h1 class="title bg-light">{{title}}</h1>

  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <!-- LEAVE FORMS -->
    <mat-step >
      <form >
        <ng-template matStepLabel>Requisition</ng-template>
         
  <mat-tab-group [selectedIndex]="selectedIndex">
    
    <!-- FIRST Leave Request List-->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">wb_sunny</mat-icon>
        <span  *ngIf='mobView'>Leave Request List</span>
      </ng-template>
     <!-- CONTENT -->
      <div class="panel-body">
        <span  *ngIf='!mobView'><h3>Leave Request List</h3></span>
        <div class="table-responsive table-bordered  table-striped">
            <table class="table">
                <thead>
                    <tr>                  
                        <th>DATE CREATED</th>
                        <th>EMAIL ADDRESS</th>
                        <th>LEAVE TYPE</th>
                        <th>LEAVE DATE</th>
                        <th>REASON</th>
                        <th>APPROVED BY</th>
                        <th>APPROVED/CANCELLED DATE</th>
                        <th>REMARKS</th>
                        <th>REQUEST  STATUS</th>           
                </thead>
                <tbody  >
                    <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                 list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of leaveRequest">                     
                        <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                        <td>{{ list.emailAddress }}</td>
                        <td>{{ list.leaveType }}</td>
                        <td>{{ list.dateFrom | date : "mediumDate"}}  -  {{ list.dateTo | date : "mediumDate"}}</td>
                        <td>{{ list.reason }}</td>
                        <td>{{ list.approvedBy }}</td>
                        <td>{{ list.status != 'Pending' ? (list.dateApproved | date : "mediumDate" ) : (null) }}</td>
                        <td>{{ list.approveRemarks }}</td>
                        <td>{{ list.status }}</td> 
                    </tr>     
                </tbody>
            </table>    
        </div>
      </div>

    </mat-tab>

  <!-- SECOND Overtime Request List-->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" >watch_later</mat-icon>
        <span  *ngIf='mobView'>Overtime Request List</span>
      </ng-template>
      <!-- CONTENT -->
        <div class="panel-body">
          <span  *ngIf='!mobView'><h3>Overtime Request List</h3></span>
          <div class="table-responsive table-bordered  table-striped">
              <table class="table">
                  <thead>
                      <tr>                  
                          <!-- <th>FULLNAME</th> -->
                          <th>DATE CREATED</th>
                          <th>OVERTIME DATE</th>
                          <th>TIME RANGE</th>
                          <th>REASON</th>                                        
                          <th>APPROVED BY</th>
                          <th>APPROVED/CANCELLED DATE</th>  
                          <th>REMARKS</th>
                          <th>REQUEST  STATUS</th>           
                  </thead>
                  <tbody>
                      <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                   list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of overtime">                     
                          <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                          <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                          <td>{{ list.dateOfOt | date : "mediumDate" }}</td>
                          <td>{{'01/01/1900 ' + list.timeFrom | date: 'hh:mm aa' }}  - 
                              {{'01/01/1900 ' + list.timeTo | date: 'hh:mm aa'}}</td>
                          <td>{{ list.reason }}</td>      
                          <td>{{ list.approvedBy }}</td> 
                          <td>{{ list.status != 'Pending' ? (list.dateApproved | date : "mediumDate" ) : (null) }}</td>     
                          <td>{{ list.approveRemarks }}</td>
                          <td>{{ list.status }}</td> 
                      </tr>     
                  </tbody>
              </table>    
          </div>
        </div>


    </mat-tab>

  <!-- THIRD Official Business Request List-->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">business</mat-icon>
        <span  *ngIf='mobView'>Official Business Request List</span>
      </ng-template>
        <!-- CONTENT -->
        <div class="panel-body">
          <span  *ngIf='!mobView'><h3>Official Business Request List</h3></span>
          <div class="table-responsive table-bordered  table-striped">
              <table class="table">
                  <thead>
                      <tr>                                       
                          <th>Date Created</th>
                          <th>Contact Person</th>
                          <th>Date Of Activity</th>
                          <th>Time</th>
                          <th>Work Location</th>
                          <th>Purpose</th>
                          <th>Approved By</th>
                          <th>Approved/Cancelled Date</th>
                          <th>Remarks</th>
                          <th>Status</th>           
                  </thead>
                  <tbody  >
                      <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                   list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of officialBusiness">                     
                          <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                          <td>{{ list.contactPerson }}</td>
                          <td>{{ list.dateOfActivity | date : "mediumDate" }}</td>
                          <td>{{'01/01/1900 ' + list.timeFrom | date: 'hh:mm aa' }}  - 
                              {{'01/01/1900 ' + list.timeTo | date: 'hh:mm aa'}}</td>
                          <td>{{ list.workLocationName }}</td>
                          <td>{{ list.purpose }}</td>
                          <td>{{ list.approvedBy }}</td> 
                          <td>{{ list.status != 'Pending' ? (list.dateApproved | date : "mediumDate" ) : (null) }}</td>
                          <td>{{ list.approveRemarks }}</td>
                          <td>{{ list.status }}</td> 
                      </tr>     
                  </tbody>
              </table>    
          </div>
        </div>

    </mat-tab>

  <!-- FOURTH Incident Report Request List-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">local_hospital</mat-icon>
      <span  *ngIf='mobView'>Incident Report Request List</span>
        
    </ng-template>
      <!-- CONTENT -->
      <div class="panel-body">
        <span  *ngIf='!mobView'><h3>Incident Report Request List</h3></span>
        <div class="table-responsive table-bordered  table-striped">
            <table class="table">
                <thead>
                    <tr>                  
                        <!-- <th>FULLNAME</th> -->
                        <th>DATE CREATED</th>
                        <th>Reporting</th>
                        <th>Supervisor</th>
                        <th>Date Of Event</th>
                        <th>Incident Location</th>
                        <th>Description</th>
                        <th>Approved By</th>
                        <th>Approved/Cancelled Date</th>
                        <th>Remarks</th>
                        <th>Status</th>            
                </thead>
                <tbody  >
                    <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                 list.status  =='Cancelled' ? 'table-danger': null}}"*ngFor="let list of incidentReport">                     
                        <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                        <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                        <td>{{ list.personReporting }}</td>
                        <td>{{ list.supervisor }}</td>
                        <td>{{ list.dateOfEvent | date : "mediumDate" }}</td>
                        <td>{{ list.incidentLocation }}</td>
                        <td>{{ list.descriptionOfHappening }}</td>
                        <td>{{ list.approvedBy }}</td> 
                        <td>{{ list.status != 'Pending' ? (list.dateApproved | date : "mediumDate" ) : (null) }}</td>
                        <td>{{ list.approveRemarks }}</td>
                        <td>{{ list.status }}</td> 
                    </tr>     
                </tbody>
            </table>    
        </div>
      </div>

  </mat-tab>


  <!-- FIFTH Your Suggestions-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px;">how_to_vote</mat-icon>
      <span  *ngIf='mobView'>Your Suggestions</span>
    </ng-template>
    <div class="panel-body">
      <span  *ngIf='!mobView'><h3>Your Suggestion</h3></span>
      <div class="table-responsive table-bordered  table-striped">
          <table class="table">
              <thead>
                  <tr>                  
                      <!-- <th>FULLNAME</th> -->
                      <th>DATE CREATED</th>
                      <th>SUGGESTIONS</th>        
              </thead>
              <tbody  >
                  <tr *ngFor="let list of suggestionBox">                     
                      <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                      <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                      <td>{{ list.suggestions }}</td>
                  </tr>     
              </tbody>
          </table>    
      </div>
    </div>
  </mat-tab>
  
  </mat-tab-group>

      </form>
    </mat-step>

    <!--PURCHASE FORMS  -->
    <mat-step>
      <form >
        <ng-template matStepLabel>Purchase Form</ng-template>
        <mat-tab-group [selectedIndex]="selectedIndex">

          <!-- FIRST Purchase Request Lis-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">shopping_cart</mat-icon>
              <span  *ngIf='mobView'>Purchase Request List</span>
            </ng-template>
          <!-- CONTENT -->
            <div class="panel-body">
              <span  *ngIf='!mobView'><h3>Purchase Request List</h3></span>
              <div class="table-responsive table-bordered  table-striped">
                  <table class="table">
                      <thead>
                          <tr>                  
                              <th>Date Created</th>
                              <th>Email Address</th>
                              <th>Purchase Type</th>
                              <th>Number Of Order</th>
                              <th>Purpose</th>
                              <th>Approved By</th>
                              <th>Approved/Cancelled Date</th>
                              <th>Remarks</th>
                              <th>Status</th>           
                      </thead>
                      <tbody  >
                          <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                      list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of purchaseRequest">                     
                              <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                              <td>{{ list.emailAddress }}</td>
                              <td>{{ list.purchaseType }}</td>
                              <td>{{ list.orderedItems.length }}</td>
                              <td>{{ list.purpose }}</td>
                              <td>{{ list.adminApproval }}</td>
                              <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>
                              <td>{{ list.approveRemarks }}</td>
                              <td>{{ list.status }}</td> 
                          </tr>     
                      </tbody>
                  </table>    
              </div>
            </div>

          </mat-tab>

        <!-- SECOND Uniform Request List -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon" >store</mat-icon>
              <span  *ngIf='mobView'>Uniform Request List</span>
            </ng-template>
            <!-- CONTENT -->
              <div class="panel-body">
                <span  *ngIf='!mobView'><h3>Uniform Request List</h3></span>
                <div class="table-responsive table-bordered  table-striped">
                    <table class="table">
                        <thead>
                            <tr>                  
                                <!-- <th>FULLNAME</th> -->
                                <th>Date Created</th>
                                <th>Employee Status</th>      
                                <th>Replacement/Additional</th>
                                <th>Number Of Order</th>         
                                <th>Purpose</th>                   
                                <th>Approved By</th>
                                <th>Approved/Cancelled Date</th>  
                                <th>Remarkds</th>
                                <th>Status</th>           
                        </thead>
                        <tbody>
                            <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                        list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of uniformRequest">                     
                                <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                                <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                                <td>{{ list.employeeStatus }}</td>  
                                <td>{{ list.replacementOrAdditional }}</td>
                                <td>{{ list.orderedItems.length }}</td>
                                <td>{{ list.purpose}}</td>
                                <td>{{ list.adminApproval }}</td> 
                                <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>     
                                <td>{{ list.approveRemarks }}</td>
                                <td>{{ list.status }}</td> 
                            </tr>     
                        </tbody>
                    </table>    
                </div>
              </div>


          </mat-tab>

        <!-- THIRD Business Card Request List-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">credit_card</mat-icon>
              <span  *ngIf='mobView'>Business Card Request List</span>
            </ng-template>
              <!-- CONTENT -->
              <div class="panel-body">
                <span  *ngIf='!mobView'><h3>Business Card Request List</h3></span>
                <div class="table-responsive table-bordered  table-striped">
                    <table class="table">
                        <thead>
                            <tr>                                       
                                <th>Date Created</th>
                                <th>Name On Card</th>
                                <th>Position</th>
                                <th>Brand</th>
                                <th>Quantity</th>
                                <th>Purpose</th>
                                <th>Approved By</th>
                                <th>Approved/Cancelled Date</th>
                                <th>Remarks</th>
                                <th>Status</th>           
                        </thead>
                        <tbody  >
                            <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                        list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of businessCard">                     
                                <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                                <td>{{ list.nameOnCard }}</td>
                                <td>{{ list.position}}</td>
                                <td>{{ list.brand}}</td>
                                <td>{{ list.quantity }}</td>
                                <td>{{ list.purpose }}</td>
                                <td>{{ list.adminApproval }}</td> 
                                <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>
                                <td>{{ list.approveRemarks }}</td>
                                <td>{{ list.status }}</td> 
                            </tr>     
                        </tbody>
                    </table>    
                </div>
              </div>

          </mat-tab>

        <!-- FOURTH Booklet Request List-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">book</mat-icon>
            <span  *ngIf='mobView'>Booklet Request List</span>
              
          </ng-template>
            <!-- CONTENT -->
            <div class="panel-body">
              <span  *ngIf='!mobView'><h3>Booklet Request List</h3></span>
              <div class="table-responsive table-bordered  table-striped">
                  <table class="table">
                      <thead>
                          <tr>                  
                              <!-- <th>FULLNAME</th> -->
                              <th>DATE CREATED</th>
                              <th>Email Address</th>
                              <th>Number of Order</th>
                              <th>Purpose</th>
                              <th>Approved By</th>
                              <th>Approved/Cancelled Date</th>
                              <th>Remarks</th>
                              <th>Status</th>            
                      </thead>
                      <tbody  >
                          <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                      list.status  =='Cancelled' ? 'table-danger': null}}"*ngFor="let list of bookletRequest">                     
                              <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                              <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                              <td>{{ list.emailAddress }}</td>
                              <td>{{ list.orderedItems.length }}</td>
                              <td>{{ list.purpose }}</td>
                              <td>{{ list.adminApproval }}</td> 
                              <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>
                              <td>{{ list.approveRemarks }}</td>
                              <td>{{ list.status }}</td> 
                          </tr>     
                      </tbody>
                  </table>    
              </div>
            </div>

        </mat-tab>
       <!-- FIFTH Maintenance RequestList-->
       <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">settings_applications</mat-icon>
          <span  *ngIf='mobView'>Maintenance RequestList</span>
            
        </ng-template>
          <!-- CONTENT -->
          <div class="panel-body">
            <span  *ngIf='!mobView'><h3>Maintenance RequestList</h3></span>
            <div class="table-responsive table-bordered  table-striped">
                <table class="table">
                    <thead>
                        <tr>                  
                            <!-- <th>FULLNAME</th> -->
                            <th>Date Created</th>
                            <th>Email Address</th>
                            <!-- <th>Request Type</th> -->
                            <th>Date Needed</th>
                            <th>Nature Of Work</th>
                            <th>Image</th>
                            <th>Approved By</th>
                            <th>Approved/Cancelled Date</th>
                            <th>Remarks</th>
                            <th>Status</th>            
                    </thead>
                    <tbody  >
                        <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                    list.status  =='Cancelled' ? 'table-danger': null}}"*ngFor="let list of maintenanceRequest">                     
                            <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                            <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                            <td>{{ list.emailAddress }}</td>
                            <!-- <td>{{ list.requestType }}</td> -->
                            <td>{{ list.dateNeeded | date : "mediumDate" }}</td>
                            <td>{{ list.natureOfWork }}</td>
                            <td class="w-2">
                              <img [src]="'assets/images/request-images/'+''+list.imageName" class="img-fluid img-thumbnail" alt="Image not found" [style.height]="list.imageName ? '200px' : 'null'">
                            </td>
                            <td>{{ list.adminApproval }}</td> 
                            <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>
                            <td>{{ list.approveRemarks }}</td>
                            <td>{{ list.status }}</td> 
                        </tr>     
                    </tbody>
                </table>    
            </div>
          </div>

      </mat-tab>

        <!-- SIXTH Marketing Material RequestList-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">next_week</mat-icon>
            <span  *ngIf='mobView'>Marketing Material RequestList</span>
              
          </ng-template>
            <!-- CONTENT -->
            <div class="panel-body">
              <span  *ngIf='!mobView'><h3>Marketing Material RequestList</h3></span>
              <div class="table-responsive table-bordered  table-striped">
                  <table class="table">
                      <thead>
                          <tr>                  
                              <!-- <th>FULLNAME</th> -->
                              <th>Date Created</th>
                              <th>Email Address</th>
                              <!-- <th>Position</th> -->
                              <th>Request Type</th>
                              <th>Description</th>
                              <th>Date Needed</th>
                              <th>Image</th>
                              <th>Approved By</th>
                              <th>Approved/Cancelled Date</th>
                              <th>Remarks</th>
                              <th>Status</th>            
                      </thead>
                      <tbody  >
                          <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                      list.status  =='Cancelled' ? 'table-danger': null}}"*ngFor="let list of marketingRequest">                     
                              <!-- <td>{{ list.firstName + "  " + list.lastName }}</td> -->
                              <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                              <td>{{ list.emailAddress }}</td>
                              <!-- <td>{{ list.position }}</td> -->
                              <td>{{ list.requestType }}</td>
                              <td>{{ list.itemDescription }}</td>
                              <td>{{ list.dateNeeded | date : "mediumDate" }}</td>
                              <td class="w-2">
                                <img [src]="'assets/images/request-images/'+''+list.imageName" class="img-fluid img-thumbnail" alt="Image not found" [style.height]="list.imageName ? '200px' : 'null'">
                              </td>
                              <td>{{ list.adminApproval }}</td> 
                              <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>
                              <td>{{ list.approveRemarks }}</td>
                              <td>{{ list.status }}</td> 
                          </tr>     
                      </tbody>
                  </table>    
              </div>
            </div>

        </mat-tab>
        
        </mat-tab-group>


      </form>
    </mat-step>

       <!--PURCHASE FORMS  -->
       <mat-step>
        <form >
          <ng-template matStepLabel>Other Request Form</ng-template>
        <mat-tab-group [selectedIndex]="selectedIndex">

           <!-- FIRST Change Info Request List-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">shopping_cart</mat-icon>
              <span  *ngIf='mobView'>Change Info Request List</span>
            </ng-template>
          <!-- CONTENT -->
            <div class="panel-body">
              <span  *ngIf='!mobView'><h3>Change Info Request List</h3></span>
              <div class="table-responsive table-bordered  table-striped">
                  <table class="table">
                      <thead>
                          <tr>                  
                              <th>Date Created</th>
                              <th>Email Address</th>
                              <!-- <th>Purchase Type</th>
                              <th>Number Of Order</th>-->
                              <th>Reason</th> 
                              <th>Approved By</th>
                              <th>Approved/Cancelled Date</th>
                              <th>Remarks</th>
                              <th>Status</th>           
                      </thead>
                      <tbody  >
                          <tr class="{{list.status  =='Approved' ? 'table-success': null ||
                                      list.status  =='Cancelled' ? 'table-danger': null}}" *ngFor="let list of changeInfoRequest">                     
                              <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                              <td>{{ list.emailAddress }}</td>
                              <!-- <td>{{ list.purchaseType }}</td>
                              <td>{{ list.orderedItems.length }}</td>-->
                              <td>{{ list.reason }}</td> 
                              <td>{{ list.adminApproval }}</td>
                              <td>{{ list.status != 'Pending' ? (list.dateApprove | date : "mediumDate" ) : (null) }}</td>
                              <td>{{ list.approveRemarks }}</td>
                              <td>{{ list.status }}</td> 
                          </tr>     
                      </tbody>
                  </table>    
              </div>
            </div>

          </mat-tab>
          <!-- Second Petty Cash Request List-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">attach_money</mat-icon>
              <span  *ngIf='mobView'>Petty Cash Request List</span>
            </ng-template>
          <!-- CONTENT -->
            <div class="panel-body">
              <span  *ngIf='!mobView'><h3>Petty Cash Request List</h3></span>
              <div class="table-responsive table-bordered  table-striped">
                  <table class="table">
                      <thead>
                          <tr>                  
                            <th>DATE CREATED</th>
                            <th>COMPANY/BRANCH</th>
                            <th>PREPARED BY</th>
                            <th>CLASSIFICATION</th>
                            <th>PAYEE</th>
                            <th>PETTY CASH DATE</th>
                            <th>TOTAL AMOUNT</th>
                            <th>REASON</th>
                            <th></th>                    
                      </thead>
                      <tbody  >
                          <tr *ngFor="let list of pettyCashRequest">                     
                            <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                            <td>{{ list.company }} / {{list.branch}}</td>
                            <td>{{ list.preparedBy }}</td>
                            <td>{{ list.classification}}</td>
                            <td>{{ list.payeeName }}</td>
                            <td>{{ list.pettyCashDate | date : "mediumDate"}}</td>
                            <td>{{ list.totalAmount }} ( {{list.amountInWord}} )</td>
                            <td>{{ list.reason }}</td>
                            <td> 
                              <button class="btn btn-info" (click)="openDialog(list.id, 'Accept', list.status, i)">Details</button>
                            </td>
                          </tr>     
                      </tbody>
                  </table>    
              </div>
            </div>
  
          </mat-tab>
  
          </mat-tab-group>
          </form>
        </mat-step>
  
    </mat-horizontal-stepper>
  </div>