<div class="content">
  <h1>Form Request List - Suggestion Box</h1>

  <div class="panel-body">
    <div class="table-responsive table-bordered  table-striped">
        <table class="table">
            <thead>
                <tr>                  
                    <th>FULLNAME</th>
                    <th>DATE CREATED</th>
                    <th>BRACH/DEPARTMENT</th>
                    <th>EMAIL ADDRESS</th>
                    <th>SUGGESTIONS</th>        
            </thead>
            <tbody  >
                <tr *ngFor="let list of suggestionBox">                     
                    <td>{{ list.firstName + "  " + list.lastName }}</td>
                    <td>{{ list.dateCreated | date : "mediumDate" }}</td>
                    <td>{{list.branch +"/"+list.department}}</td>
                    <td>{{list.emailAddress}}</td>
                    <td>{{ list.suggestions }}</td>
                </tr>     
            </tbody>
        </table>    
    </div>
  </div>

</div>