
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Overtime</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">
  
  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="fullName" class="sa-input"> Employee Name:</label>
      <mat-list-item for="fullName" >{{ overtimeForm.value['firstName'] +" "+ overtimeForm.value['lastName']}}</mat-list-item>  
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="dateOfOt" class="sa-input"> Date of Overtime:  </label>
      <mat-list-item>{{ overtimeForm.value.dateOfOt  | date : "mediumDate"}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="branch" class="sa-input"> Branch/Department:</label>
      <mat-list-item for="branch">{{ overtimeForm.value['branch'] }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="timeFrom" class="sa-input"> Time From:</label>
      <mat-list-item>{{ overtimeForm.value.timeFrom }}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="position" class="sa-input"> Position/Designation:</label>
      <mat-list-item for="branch">{{ overtimeForm.value.position }}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="timeTo" class="sa-input"> Time To:</label>
      <mat-list-item>{{ overtimeForm.value.timeTo }}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="contactNo" class="sa-input"> Contact NO.:</label>
      <mat-list-item for="contactNo" >{{ overtimeForm.value.contactNo}}</mat-list-item>
    </div>
    <div class="col-6 col-md-4 form-group">
      <label for="reason" class="sa-input"> Reason For Overtime:</label>
      <mat-list-item>{{ overtimeForm.value.reason}}</mat-list-item>
    </div>
  </div>

  <div class= "row">
    <div class="col-6 col-md-7 form-group">
      <label for="emailAddress" class="sa-input"> Email Address:</label>
      <mat-list-item for="emailAddress">{{ overtimeForm.value.emailAddress}}</mat-list-item>
    </div>
    <!-- <div class="col-6 col-md-4 form-group">
      <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="overtimeForm"> 
        <label for="approveRemarks"  class="col-form-label sa-input" >Approve Remarks:</label>
        <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
      </div> -->
      
      <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="overtimeForm"> 
        <label for="approveRemarks"  class="col-form-label sa-input" >Approve Remarks:</label>
        <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending'|| successMessage ? true : null" ></textarea>
        <!-- <app-show-error [control]="overtimeForm.controls.biometricId"></app-show-error> -->
      </div>
    </div>
  </div>
  
  <span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <!-- <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div> -->

  <div *ngIf="actStatus == 'Approve'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"> {{actStatus == "Accept" ?  "Approved" : "Approved"}}</button>
    </div>
  </div>
</div>
