
<div class="container-fluid">

  <!-- breadcrumbs -->
  <div class="row">
   <div class="col-lg-12">
       <ol class="breadcrumb">
         <h1 class="title bg-light">{{title}}</h1>
       </ol>
   </div>
</div>


<div class="main-content" >
  
  
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" class="example-tab-icon">dashboard</mat-icon>
      Dashboard
    </ng-template>

    <app-dashboard-admin *ngIf="userType == 'Admin'"></app-dashboard-admin>
    <app-dashboard-user *ngIf="userType == 'User'"></app-dashboard-user>
    <app-dashboard-head *ngIf="userType == 'Head'"></app-dashboard-head>
    <app-dashboard-mgmt *ngIf="userType == 'Mgmt'"></app-dashboard-mgmt>
  </mat-tab> 

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" class="example-tab-icon">info</mat-icon>
      My Personal Information
    </ng-template>


<div class="panel-body">
  <div class="row">
    <h2 >Employee Basic Info </h2>
    <a style="margin: 10px;" routerLink="/admin/account-settings">Edit Info</a>
  </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>ID Number</mat-label>
          <input [value]="empData.idno" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Firstname</mat-label>
          <input [value]="empData.fname" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Middlename</mat-label>
          <input [value]="empData.mname" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Lastname</mat-label>
          <input [value]="empData.lname" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-9 form-group">
          <mat-label>Address</mat-label>
          <input [value]="empData.address" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>
 
      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Gender</mat-label>
          <input [value]="empData.gender" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Birthday</mat-label>
          <input value="{{empData.bday | date : 'mediumDate'}}" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Civil Status</mat-label>
          <input [value]="empData.cstatus" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Contact Number</mat-label>
          <input [value]="empData.telno" class="col"  matInput [readonly]="true">
        </mat-form-field>
        
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Email Address</mat-label>
          <input [value]="empData.emaladd" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Contact Person</mat-label>
          <input [value]="empData.conperson" class="col"  matInput [readonly]="true">
        </mat-form-field>
        
        <mat-form-field class="col-md-3 form-group">
          <mat-label>No. of Contact Person</mat-label>
          <input [value]="empData.conpersontelno" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <h2>Employee Company Info</h2>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Bio Id</mat-label>
          <input [value]="empData.bio" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Branch</mat-label>
          <input [value]="empData.branchName" class="col"  matInput [readonly]="true">
        </mat-form-field>
        
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Department</mat-label>
          <input [value]="empData.departmentName" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Position</mat-label>
          <input [value]="empData.positionName" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Company</mat-label>
          <input [value]="empData.companyName" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label> Ststus</mat-label>
          <input [value]="empData.regstatus" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Hiring Date</mat-label>
          <input value="{{empData.hiringdate | date : 'mediumDate'}}" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Date Start</mat-label>
          <input value="{{empData.datestart | date : 'mediumDate'}}" class="col"  matInput [readonly]="true">
        </mat-form-field>
        
      </div>

      <h2>Additional Information</h2>
      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Education Attain</mat-label>
          <input [value]="empData.educattain" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>School Name</mat-label>
          <input [value]="empData.schoolname" class="col"  matInput [readonly]="true">
        </mat-form-field>
        
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Course</mat-label>
          <input [value]="empData.course" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Attend Year</mat-label>
          <input [value]="empData.attendyear" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row"> 
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Sss Number</mat-label>
          <input [value]="empData.sssno" class="col"  matInput [readonly]="true">
        </mat-form-field>
        
        <mat-form-field class="col-md-3 form-group">
          <mat-label>Pagibig Number</mat-label>
          <input [value]="empData.pagibigno" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Tin Number</mat-label>
          <input [value]="empData.tinno" class="col"  matInput [readonly]="true">
        </mat-form-field>

        <mat-form-field class="col-md-3 form-group">
          <mat-label>Philhealth Number</mat-label>
          <input [value]="empData.philhealthno" class="col"  matInput [readonly]="true">
        </mat-form-field>
      </div>
</div>

  
  </mat-tab>  

  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" class="example-tab-icon">announcement</mat-icon>
      Announcements
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" class="example-tab-icon">number</mat-icon>
      Remaining Leave/Sick Request
    </ng-template>

    Content 3
  </mat-tab>-->
</mat-tab-group> 


</div>
