
<a class="close" (click)="onClose()">X</a>
<div class="content" style="margin: 20px;">

  <h1>Approve Requests - Marketing Materials and Display Change Request</h1>
  <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
    <p>  {{ successMessage }} </p>
  </div>
  <mat-divider></mat-divider>
<div class="main-content">

    
    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="fullName" class="sa-input"> Employee Name:</label>
        <mat-list-item for="fullName" >{{ marketingMaterialsForm.value['firstName'] +" "+ marketingMaterialsForm.value['lastName']}}</mat-list-item>  
      </div>

      <div class="col-6 col-md-4 form-group">
        <label for="requestType" class="sa-input"> Request Type</label>
        <mat-list-item for="requestType">{{ marketingMaterialsForm.value.requestType}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="branch" class="sa-input"> Branch/Department:</label>
        <mat-list-item for="branch">{{ marketingMaterialsForm.value['branch'] }}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="itemDescription" class="sa-input"> Item Description</label>
        <mat-list-item>{{ marketingMaterialsForm.value.itemDescription }}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="position" class="sa-input"> Position:</label>
        <mat-list-item for="position">{{ marketingMaterialsForm.value['position'] }} </mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">
        <label for="dateNeeded" class="sa-input"> Date Needed:</label>
        <mat-list-item>{{ marketingMaterialsForm.value.dateNeeded | date : "mediumDate"}}</mat-list-item>
      </div>
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="contactNo" class="sa-input"> Contact NO.:</label>
        <mat-list-item for="contactNo" >{{ marketingMaterialsForm.value.contactNo}}</mat-list-item>
      </div>
      <div class="col-6 col-md-4 form-group">  
        <label for="comment" class="sa-input"> Comments:</label>
        <mat-list-item>{{ marketingMaterialsForm.value.comment}}</mat-list-item>
      </div>  
    </div>

    <div class= "row">
      <div class="col-6 col-md-7 form-group">
        <label for="emailAddress" class="sa-input"> Email Address:</label>
        <mat-list-item for="emailAddress">{{ marketingMaterialsForm.value.emailAddress}}</mat-list-item>
      </div>

      <div class="col-6 col-md-4 form-group">
        <div *ngIf="actStatus == 'Accept'" class="form-group" [formGroup]="marketingMaterialsForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Pending' || successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
        
        <div *ngIf="actStatus == 'Approve'" class="form-group" [formGroup]="marketingMaterialsForm"> 
          <label for="approveRemarks"  class="sa-input" >Approve Remarks:</label>
          <textarea id="approveRemarks" formControlName="approveRemarks" class="form-control" [attr.disabled]="currentStatus != 'Accept'|| successMessage ? true : null" ></textarea>
          <!-- <app-show-error [control]="officialBusinessForm.controls.biometricId"></app-show-error> -->
        </div>
      </div>
    </div>

    <div class= "row" *ngIf="marketingMaterialsForm.value.imageName">
      <div class=" col-md-7 form-group">
        <img id="myImg" [src]="'assets/images/request-images/'+''+marketingMaterialsForm.value.imageName" (click)="imgModal()"class="img img-fluid img-thumbnail" alt="Image not found" >
        <!-- <img id="myImg" src="http://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" (click)="imgModal()" alt="none" style="width:100%;max-width:300px"> -->
        
        <div id="myModal" class="modal">
          <span class="closeImgModalButton" (click)="closeImgModal()">&times;</span>
          <img class="modal-content"  id="image">
          <div id="caption"></div>
        </div>
      
      </div>
    </div>

    <div class="panel-body" style="background: rgb(240, 240, 240);" *ngIf="marketingMaterialsForm.controls.orderItems.value[0]">
      <div class="table-responsive">
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                    <th>Request Type</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Unit Measure</th>
                    <th>Quantity</th>
                    <th>Approved Quantity</th>
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let item of marketingMaterialsForm.controls.orderItems.value; let i=index">
                    <td> {{ item.requestType }} </td>
                    <td> {{ item.item }} </td>
                    <td> {{ item.description }} </td>
                    <td> {{ item.unitMeasure }} </td>
                    <td> {{ item.quantity }} </td>
                    <td> 
                      <input type="number"  [(ngModel)]="approvedQuantity[i]" (change)="getApprovedQty()" [attr.disabled]="currentStatus != 'Pending'|| successMessage ? true : null">
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>    
  </div> 
</div>
  
<span style="opacity:0;">I'm Invisible!</span>
  <mat-divider style="margin-bottom: 20px;"></mat-divider>

  <div *ngIf="actStatus == 'Accept'" class="buttons">
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Pending'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Pending'"
              [disabled]="validators()"> {{"Approved"}}</button>
    </div>
  </div>

  <div *ngIf="actStatus == 'Approve'" class="buttons" >
    <div *ngIf="!successMessage">
      <button style="float: left;" class="btn btn-danger" (click)="cancelRequest()" *ngIf="currentStatus == 'Accept'">Cancel Request</button>
      <button style="float: right;" class="btn btn-primary" (click)="approveRequest()" *ngIf="currentStatus == 'Accept'"> {{actStatus == "Accept" ?  "Accept" : "Approved"}}</button>
    </div>
  </div>
</div>
