<div class="content">

  <h1>FC HR Request</h1>

  <p>FOR ANY ERRORS ON THIS FORM PLEASE CONTACT THE SYSTEM ADMINISTRATOR<br>
    NORBERTO RASPADO: +639666371868<br>
    <br>
    Please select the type of form you would like to access and press next at the bottom of this page:<br>
    (Mangyaring piliin ang uri ng form na nais mong ma-access at pindutin ang "NEXT" sa baba ng pahinang ito:)</p>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control">
    </div>

  </form>

  <button class="btn btn-success"> BOOTSTRAP SUCCESS </button>
  <a class="btn btn-lg btn-primary" href="" role="button">View</a>
</div>