
<div class="content">

  <h1 class="title bg-light">{{title}}</h1>

  <div class="main-content"  >
    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
      <p>  {{ successMessage }} </p>
   </div>
    <mat-horizontal-stepper (selectionChange)="getIndex($event)">
    
       <!-- CONTENT 1-->
      <mat-step label="Step 1" *ngIf="false">
        <form [formGroup]="bookletRequestForm">

          <h2>Employee Information</h2>
        
          <div class="form-group">
            <label for="fullName">Employee Name</label>
            <input id="fullName" formControlName="fullName" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="bookletRequestForm.controls.fullName"></app-show-error>
          </div>

          <div class="form-group">
            <label for="branch">Branch/Department</label>
            <input id="branch"  formControlName="branch_Dept"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="bookletRequestForm.controls.branch"></app-show-error>
          </div>

          <div class="form-group">
            <label for="position">Position/Designation</label>
            <input id="position"  formControlName="position"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="bookletRequestForm.controls.position"></app-show-error>
          </div>
          <div class="form-group">
            <label for="biometricId">Biometric ID#</label>
            <input id="biometricId" formControlName="biometricId" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="bookletRequestForm.controls.biometricId"></app-show-error>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input id="contactNo"  formControlName="contactNo"  class="form-control" [attr.disabled]="true">
            <app-show-error [control]="bookletRequestForm.controls.contactNo"></app-show-error>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input id="emailAddress" formControlName="emailAddress" class="form-control" [attr.disabled]="true">
            <app-show-error [control]="bookletRequestForm.controls.emailAddress"></app-show-error>
          </div>   

        </form>  
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <!-- CONTENT 2 -->
      <mat-step label="Step 1">
        <form [formGroup]="bookletRequestForm">
          <h2>Request Breakdown</h2>

          <!-- <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approver" 
            matTooltip="Select, If the Approver is not Admin"
            matTooltipPosition="after">
              <mat-optgroup *ngFor="let group of approverList" [label]="group.name">
                <mat-option *ngFor="let opt of group.data" [value]="opt.id">
                  {{opt.fullName +" - "+ opt.department}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field  style="width: 50%;">
            <mat-label>Approver</mat-label>
            <input  value="Rosalie Bisda" matInput [readonly]="true">        
          </mat-form-field>

          
          <div class="row">
              <div class="col form-group">
                  <label for="RequestType">Request Type<span class="ic-red">*</span>:</label>
                  <select class="form-control" id="RequestType" placeholder="Select Request Type" formControlName="RequestType">
                    <option></option>
                    <option *ngFor="let opt of bookletRequest" value="{{opt.name}}">{{opt.name}} </option>
                  </select>
                  <app-show-error [control]="bookletRequestForm.controls.RequestType"></app-show-error>
              </div>
              
              <div class="col form-group">
                <label for="ManualType">Manual Type<span class="ic-red">*</span>:</label>
                <select class="form-control" id="ManualType" placeholder="Select Request Type" formControlName="ManualType">
                  <option></option>
                  <option *ngFor="let opt of manualtype" value="{{opt.name}}">{{opt.name}} </option>
                </select>
                <app-show-error [control]="bookletRequestForm.controls.ManualType"></app-show-error>
            </div>

          </div>

          <div class="row">

            <div class="col form-group">
              <label for="Purpose">Purpose<span class="ic-red">*</span>:</label>
              <input  id="Purpose" formControlName="purpose" placeholder="Purpose of Request" class="form-control" >
              <app-show-error [control]="bookletRequestForm.controls.purpose"></app-show-error>
            </div>

             <div class="col form-group">
              <label for="comment">Questions/Comments:</label>
              <textarea class="form-control" formControlName="comment"rows="1" id="comment"></textarea>
            </div>
            
          </div>

          <div class="panel-heading">
              <div class="row">
                   <div class="col-md-4">
                    <div class="col form-group">
                      <label for="FromToMsiv">From-To<span class="ic-red">*</span>:</label>
                      <input  id="FromToMsiv" formControlName="FromToMsiv" placeholder="e.g. 0001-0050 or 0001-0100"class="form-control" 
                       matTooltip="For From-To, please specify the series on hand of the specified document. For Example: 0001-0050 or 0001-0100.">
                   </div>
                  </div>

                  <div class="col-md-3">
                    <div class="col form-group">
                      <label for="unUsedMsiv">Unused<span class="ic-red">*</span>:</label>
                      <input  id="unUsedMsiv" formControlName="unUsedMsiv" placeholder="e.g. 0026-0050 or 1755-2000" class="form-control" 
                      matTooltip="For Unused, please specify the beginning of the series number of the specific document until the last on hand which has not been used. For Example: 0026-0050 or 1755-2000.">
                   </div>
                  </div> 

                  <div class="col-md-3">
                          <div class="col form-group">
                              <label for="Quantity" >Quantity<span class="ic-red">*</span>:</label>
                              <input onlyNumber type="number"  class="form-control" id="Quantity" formControlName="Quantity">
                              <app-show-error [control]="bookletRequestForm.controls.Quantity"></app-show-error>
                             
                          </div>
                      </div>

                      <div class="col-md-2">
                          <div class="form-group row form_code float-right" style="margin-top: 23px; margin-right: 10%;" formArrayName="orderItems">
                              <input type="button" name="" class="btn btn-primary" value="Add" (click)="AddItem($event)" 
                              [disabled]="
                                          bookletRequestForm.controls.RequestType.invalid ||
                                          bookletRequestForm.controls.ManualType.invalid  ||
                                          bookletRequestForm.controls.FromToMsiv.invalid ||
                                          bookletRequestForm.controls.unUsedMsiv.invalid  ||
                                          bookletRequestForm.controls.Quantity.invalid " >
                          </div>
                      </div>
                </div>
          </div>
          
        <div *ngIf="bookletRequestForm.controls.orderItems.value[0]">
          <h2>Order Items</h2>
          <div class="panel-body" style="background: rgb(240, 240, 240);">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Request Type</th>
                            <th>Manual Type</th>
                            <th>From-To</th>
                            <th>Unused</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of orderItems; let i=index">
                            <td> {{ item.RequestType }} </td>
                            <td> {{ item.ManualType }} </td>
                            <td> {{ item.FromToMsiv }} </td>
                            <td> {{ item.unUsedMsiv }} </td>
                            <td> {{ item.Quantity }} </td>

                            <td class="td-actions text-center">
                                <button type="button" class="btn btn-danger btn-simple btn-xs" (click)="deleteRow(i)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
         </div>  
       </div>

          
        </form>

          <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>


       <!-- CONTENT 3 -->
      <mat-step label="Step 2">
        <h2>Confirm Information</h2>



        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               <b> Personal data </b>
              </mat-panel-title>
              <mat-panel-description>
                 Basic Information
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <div class="row 1">
                <div class="col">
                  <mat-list-item for="fullName">Employee Name:</mat-list-item> <span id="fullName" style="margin-left: 15%;">{{bookletRequestForm.value.fullName}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="branch">Branch/Department:</mat-list-item> <span id="branch" style="margin-left: 15%;">{{bookletRequestForm.value.branch_Dept}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 2">
                <div class="col">
                  <mat-list-item for="position">Position/Designation:  </mat-list-item> <span id="position" style="margin-left: 15%;">{{bookletRequestForm.value.position}}</span>
                  <mat-divider></mat-divider>
                </div>

                <div class="col">
                  <mat-list-item for="biometricId">Biometric ID:  </mat-list-item><span id="biometricId" style="margin-left: 15%;">{{bookletRequestForm.value.biometricId}}</span>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row 3">
                <div class="col">
                  <mat-list-item for="contactNo">Contact NO.:</mat-list-item><span id="contactNo" style="margin-left: 15%;">{{bookletRequestForm.value.contactNo}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="emailAddress">Email Address: </mat-list-item><span id="emailAddress" style="margin-left: 15%;">{{bookletRequestForm.value.emailAddress}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-list>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true"
                               (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Form Data</b>
              </mat-panel-title>
              <mat-panel-description>
                 Data Confirmation
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
        
              <div class="row">
                <div class="col">
                  <mat-list-item for="purpose">Purpose for Requesting:</mat-list-item><span id="purpose" style="margin-left: 15%;">{{bookletRequestForm.value.purpose}}</span> 
                  <mat-divider></mat-divider>
                </div>
                <div class="col">
                  <mat-list-item for="comment">Questions/Comments: </mat-list-item><span id="comment" style="margin-left: 15%;">{{bookletRequestForm.value.comment}}</span> 
                  <mat-divider></mat-divider>
                </div>
              </div>

              <mat-list-item> Ordered Items:  </mat-list-item>
              <div class="panel-body">
                <div class="table-responsive">
                  
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Request Type</th>
                                <th>Manual Type</th>
                                <th>From-To</th>
                                <th>Unused</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of orderItems; let i=index">
                                <td> {{ item.RequestType }} </td>
                                <td> {{ item.ManualType }} </td>
                                <td> {{ item.FromToMsiv }} </td>
                                <td> {{ item.unUsedMsiv }} </td>
                                <td> {{ item.Quantity }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>  
            </mat-list>

            
          </mat-expansion-panel>
        </mat-accordion>

        <div style="margin: 20px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="onSubmit(bookletRequestForm.value)" [disabled]="bookletRequestForm.invalid || orderItems.length == 0 ">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>


<!-- <div class="content" style="margin: 20px;">

  <h1 class="title bg-light">{{title}}</h1>

  <form class="">

    <div class="form-row">
      <div class="form-group col-md-3">
          <label for="">Select Manual/POS Request *</label>
            <select name="" id="" class="form-control" style="width: 300px !important" required>
              <option value="">Select Manual/POS</option>
              <option value="Manual Sales Invoice">Manual Sales Invoice</option>
              <option value="Manual Delivery Receipt">Manual Delivery Receipt</option>
              <option value="Manual Collection Receipt">Manual Collection Receipt</option>
              <option value="POS - Sales Invoice">POS - Sales Invoice</option>
              <option value="POS - Delivery Receipt">POS - Delivery Receipt</option>
              <option value="POS - Collection Receipt">POS - Collection Receipt</option>
              <option value="POS - Tape Receipt">POS - Tape Receipt</option>
              <option value="Blank Continuous Form">Blank Continuous Form</option>
              <option value="Order Slip">Order Slip</option>
              <option value="Petty Cash Voucher">Petty Cash Voucher</option>

            </select>
      </div>

      <div class="form-group">
        <label for="">Select Booklets/Boxes/Pads *</label>
          <select name="" id="" class="form-control" style="width: 200px !important" required>
            <option value="">Select Manual/POS</option>
            <option value="Booklets">Booklets</option>
            <option value="Boxes">Boxes</option>
            <option value="Pads">Pads</option>
          </select>
        </div>
      <div class="form-group col-md-2">
          <label for="">(10 max) *</label>
            <select name="" id="" class="form-control" style="width: 120px !important" required>
              <option value="">Quantity</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
      </div>

      <div class="form-group">
        <label for="">From-To *</label>
          <input type="text" class="form-control" style="width: 240px !important" required placeholder="Example: 0001-0050 or 0001-0100.">
      </div>

      <div class="form-group">
        <label for="">Unused *</label>
          <input type="text" class="form-control" style="width: 240px !important" required placeholder="Example: 0026-0050 or 1755-2000.">
      </div>

    </div>

      <div style="display:flex; justify-content:flex-end; width:91%; padding:0;">
       <button class="btn btn-danger" type="submit"> Add</button>
      </div>
  </form>

</div> -->